[2014-12-12 11:54] tlvince opened #1 "Custom generators"
We're using z-schema to register [custom formats](https://github.com/zaggino/z-schema#register-a-custom-format), for example semver:

[code]

Schema:

[code]

Since Faker doesn't have a semver generator, is there a way to pass in a custom one?

[2014-12-12 12:03] tlvince opened #2 "Is adding the faker/chance property optional?"
Given a schema such as:

[code]

… json-schema-faker will happy produce something like:

[code]

This seems to suggest adding the `faker` or `chance` property to each property is optional. Will it default to one or the other, or does it provide its own generators? If so, could you document this? (The readme suggests to me that faker/chance is mandatory).

[2014-12-12 19:07] #1 closed, assigned to nobody

[2014-12-12 19:07] #2 closed, assigned to nobody

[2015-01-16 22:15] braco opened #4 "Error: Unknown primitive "[object Object]" at traverse"
[code]
Any idea what would cause this error?

Also, key paths would be super handy in debugging. For example, this coffeescript code produces key paths like "foo.bar.baz" from an object:
[code]
Error messages could thus be "Error in foo.bar.baz: ...." so it was clear what was breaking.

[2015-01-16 22:31] braco commented on #4
Seems to be caused by something in links.items.type here (CSON notation):

[code]

[2015-01-17 21:23] #4 closed

[2015-01-19 19:19] braco opened #5 "properties: type: type: 'string' throws error"
[code]

"properties.type" is causing 'unknown primitive {"type":"string"}'.

(Thanks for the error reporting update)

[2015-01-19 23:07] braco commented on #4
Trying to hunt this one down as well:
[code]

[2015-01-19 23:34] pateketrueke commented on #4
JSON-linting MUST be a separated task, please validate your schemas before faking them.

[2015-01-20 05:02] pateketrueke commented on #5
Fixed on `0.1.5`, thanks for your feedback.

[2015-01-20 05:02] #5 closed

[2015-01-20 16:48] braco commented on #5
Thanks, don't forget to publish to npm!

[2015-01-20 17:39] braco opened #6 "chance: "url" fails"
But it should work:
http://chancejs.com/#url

You might need a version bump, 0.7.1 is latest

[2015-01-20 18:22] pateketrueke commented on #5
Published.

[2015-01-20 18:26] pateketrueke commented on #6
It seems you're using a lot this module, yay!

Could you switch to the develop branch instead of using the npm-registry?

That would helps on solving issues quicker without publishing minor changes to npm.

[2015-01-20 20:12] braco opened #7 "error in id output"
{ id: "http://json-schema.org/[object Object]#" }

I also think the id should not be attached in the first place, or at least have an option to disable it. It's not a requirement to my knowledge.

[2015-01-20 20:12] braco commented on #6
Sure am, great job on this package! I switched.

[2015-01-20 20:12] braco commented on #6
Thanks also for being so prompt.

[2015-01-22 00:10] #6 closed

[2015-01-22 00:10] pateketrueke commented on #7
I've upgraded to [deref-0.2.7](https://github.com/gextech/deref).

Can you test against the develop branch?

[2015-02-19 05:50] #7 closed

[2015-05-01 15:57] georgebarbarosie opened #9 "does not invoke faker/chance on any primitive types other than "string""
Hello, neither of the following seem to work:
require("json-schema-faker")({type: "integer", chance: "natural"});
require("json-schema-faker")({type: "integer", faker: "random.number"});

It turns out for other types than string the faker or chance generators are not being called.

[2015-05-01 16:16] georgebarbarosie opened #10 "type number always generates a integer value"
The following code would invariably generate an integer:
require("json-schema-faker")({type: "number"});

This can be traced to the use of random(min,max) in lib/types/number.js which in turn uses faker.random.number() with options min and max but no set precision; Faker.js's random.number() function always generates an integer value unless a precision is set in the options.

[2015-05-04 13:55] ducin opened #11 "relative parameters / fake values re-used"
Hello,

First of all, I find this tool amazing. Since I got to know JSON schema and faker I thought it would be great to use them together and here I see that such thing exists!

The thing I need and I'm not sure whether it's supported is re-using fake data inside the same structure. Let's say, that I do use `faker` to generate a `firstName` and `lastName` and I want to reuse these values to gener

[2015-05-04 21:52] jeffcatania commented on #11
I am also curious about this feature.  What is the best way to build referential integrity into the object generated by jsf?  Something similar to generating the [Les Miserables](http://bl.ocks.org/mbostock/4062045) dataset for Force Directed layouts.

Alvaro, if you point to the area of the code that this may be added I should be able to contribute a fix.

[2015-05-05 05:31] pateketrueke commented on #10
Sorry but I'm not sure about the differences of `integer` and `number` types.

My guess is that `integer` types will never contain a floating point... so, a `number` type may generate integer values also?

Currently `json-schema-faker` also treats as `integer` any `number` type containing `multipleOf`, and i'm still confused on how to proceed about `number`'s meaning.

What do you think?

[2015-05-05 07:25] pateketrueke commented on #11
@tkoomzaaskz I really love the idea.

We can do something like this?

[code]
Simple references are easy to defeat... If the references are not complex.

Do you have another examples for those simple cases?

[2015-05-05 07:30] pateketrueke commented on #11
@jeffcatania I really love the idea behind "referential integrity" but I can't figure out how to solve that...

In "Les Miserables" you have two linked lists, each source/target key is a reference to a node index?

Those relationships for source/target are based on how many `nodes` are generated each time taking in account that `source` should never be the same as `target` right?

I was thinking o

[2015-05-05 08:30] tkoomzaaskz commented on #11
@pateketrueke and I like this tool a lot! :)

I'm working on generating data for an enterprise system, so far I've been in need of simple references, like the email above or `fullName` being `firstName + " " + lastName`. Another example is having `city`, `street`, `state`, etc. along with `formattedAddress` - but it is the same problem class. Probably, there'd be more.

I'm not pretty sure what do

[2015-05-05 10:04] tkoomzaaskz commented on #11
Another concept I thought of is to provide a `faker-init` top-level attribute, which declares variables in scope that will be reused in entire currently-generated object. The advantages over the previous solution is that it's:
* easier to implement
* it provides primitive scope variables
* it handles a situation, where a value needs to be re-used in some places, but it's not present in the schema

[2015-05-05 15:42] tkoomzaaskz opened #12 "Extending low-level dependencies"
There is one more thing I'd appreciate a lot: extending/parametrizing base libraries (e.g. faker). This is a must-have, when you want to customize it:
 * set the locale, which alters results in the end - faker provides internationalization feature: https://github.com/Marak/faker.js#localization.
 * extending the library with custom generators, that will make use of all existing features of the lib

[2015-05-05 16:20] pateketrueke commented on #12
Actually the code responsible of that is `lib/types/string.js` but I think `generate()` function should be moved to `lib/util/generate.js` before for reusability.

Please rebase your work on the `development` branch before, if you can add some specs would be enough to merge.

Also I don't know if chance/randexp can be customized as well, that would be awesome too.

Thanks for your time and interes

[2015-05-05 16:31] tkoomzaaskz opened #13 "`number` results in `integer`"
I've been trying to generate fake float cash amounts:

    var jsf = require('json-schema-faker');

    var schema = {
      "type": "object",
      "properties": {
        "floatValue": {
          "type": "number",
          "faker": {
            "finance.amount": [0, 1000000, 2]
          }
        }
      },
      "required": [
        "floatValue"
      ]
    };

    var sample = jsf(schema)

[2015-05-05 16:45] tkoomzaaskz commented on #12
So I guess the answer is "yes" :)

Ok, I'll rebase to `development` branch in the first place. Do you accept the API that I suggestes, i.e. the `jsf.customize(...)`?

----

As for [chance.js](https://github.com/victorquinn/chancejs), I haven't seen such thing in the docs, but I don't know this library. I submitted an issue: https://github.com/victorquinn/chancejs/issues/178. I expect this to be ex

[2015-05-05 17:00] ducin opened #14 "more examples in the docs"
I've been trying to achieve some fake generator calls and I've spent some time on reading the source code and "trial and error" stuff, e.g. passing undefined-alike parameters to faker.js calls. Or executing RandExp from the schema.

I think the docs could include more examples. What do you think @pateketrueke? Which branch should they be included in? By the way, what is the current state of gh-pag

[2015-05-05 17:03] #9 closed

[2015-05-05 17:03] #10 closed

[2015-05-05 17:05] pateketrueke commented on #13
Fixed on `0.1.6`.

[2015-05-05 17:06] #13 closed

[2015-05-05 17:52] pateketrueke commented on #12
Totally a yes, thanks!

Yeah, the same way as `jsf.formats()` would be fine for `jsf.customize()` I guess.

For `chance.js` I notice they have a `mixin()` method, so it's awesome having support for that.

For `randexp` I see is not necessary.

:beers:

[2015-05-05 21:38] tkoomzaaskz commented on #14
*more examples in docs*: I think I will put it into the readme.md, because this is the most obvious place to put docs into. But the question is shall I put it on `master` immediately or shall I put it into `develop`?

*gh-pages*: I think I've got an idea. Do you know browserify? I've made a proof-of-concept: https://github.com/tkoomzaaskz/json-schema-faker/tree/online-demo. This could run the `jsf

[2015-05-05 21:58] pateketrueke commented on #14
Well, I think we need a `CONTRIBUTING.md` for some guidelines:

- Yes, any PR must be against the `develop` branch

Surprisingly I did the same: http://json-schema-faker.js.org/ so I think we're in the same channel. :beers:

We can work on a nice UI for that?

I was thinking on:

- Semantic-UI/UI-Kit
- CodeMirror for editing JSON
- Use localStorage for storing schemas/refs
- A bulk functionality t

[2015-05-05 22:02] tkoomzaaskz opened #15 "providing a jsf UI (online demo)"
Use `gh-pages` branch to deploy a `browserify`ed online demo. Moved from #14.

[2015-05-05 22:04] tkoomzaaskz commented on #14
I suggest to move the *gh-pages UI* thing into a separate issue and stay with *more examples in the docs* here.

Ok, so I'll provide more examples on `develop` and make a PR...

[2015-05-05 22:10] tkoomzaaskz commented on #15
I'd start something similar to http://jsonschemalint.com/:
* twitter bootstrap UI
* one textarea for the schema along with fake data definitions
* another textarea for the sample result
* a *generate* button, which will regenerate the sample result
* controllers: angular or vanilla JavaScript

Once we're done with above (which may take a while) we may proceed with other stuff. I guess it's better

[2015-05-05 23:07] tkoomzaaskz commented on #12
The basic idea I'm thinking of now is behind node modules overriding.

`customized.js` file:

[code]

`index.js` file:

[code]

and the *runtime*:

[code]

(the thing is that *underscore* doesn't have `_.capitalize` method provided).

[2015-05-05 23:15] tkoomzaaskz commented on #12
Going more into dynamic generator level (faker, chance):

`factory.js` file:

[code]

`index.js` file:

[code]

and the *runtime*:

[code]

[2015-05-06 02:51] pateketrueke commented on #15
Actually i'm using this: http://dns.js.org/ :+1:

[2015-05-06 10:25] tkoomzaaskz commented on #12
I think we'll need to re-structure the project a little bit. The problem lies in lack of separation of concerns: modules talk to each other as they wish and it makes difficult to extend any of them.

I listed all occurences of loading `faker` and `chance`:
[code]
Ignoring markdown files, we've got:

* ./node_modules/json-schema-faker/lib/types/object.js
* ./node_modules/json-schema-faker/lib/types

[2015-05-06 12:06] tkoomzaaskz commented on #12
Above commit solves the problem, I've been testing it with running the following file from the console:

[code]

I've got a problem with running tests on my machine (I'm using windows). `npm install` seems to install everything that is needed, but when I run `grunt test:parts && cat generated/lcov.info | coveralls` which I've found in [.travis.yml], I get following error:

[code]

By the way, this

[2015-05-06 12:18] tkoomzaaskz commented on #12
By the way, I'm trying to run travis for this branch (it's called `extending-dependencies`, https://github.com/tkoomzaaskz/json-schema-faker/tree/extending-dependencies). I turned the repo `on` in my travis account settings, I've re-pushed the commit (with `-f`, adding just one line of comment). But travis hasn't run yet. Do you know why?

[2015-05-06 13:47] pateketrueke commented on #12
How are you testing against these new jsf features?

Did you take a look to the [specs](https://github.com/pateketrueke/json-schema-faker/tree/master/spec)?

I think you should add `spec/core/issues/customize.json` for documenting your features/tests.

Also, [grunt-parts](https://github.com/partsjs/dev-grunt) will lint your code and run the tests for you, etc.

I'll add this to the guidelines. :be

[2015-05-06 14:04] tkoomzaaskz commented on #12
Well, I've just spent over 2 hours trying to configure tests. I'm afraid, that these are the issues of https://github.com/partsjs/dev-grunt. Do we have to use it in this project? It took me really long to debug, that there is a path conflict that resolve in `path.join` on Windows:

[code]

precisely dev-parts.js:

[code]

where cwd containt `C:\`. Eventually, both jit.pluginsRoot and cwd contain C

[2015-05-06 14:21] tkoomzaaskz opened #18 "extending specs allowing to extend dependencies"
I've seen that the specs are defined through json files, containing test-definitions, e.g.

[code]

It is very self-descriptive, but it inherits flaws of JSON: it cannot include functions. And if I want to add a function to extend faker/chance (see #12), I have to do something else...

I think these are the lines that cause problems: https://github.com/pateketrueke/json-schema-faker/blob/master/sp

[2015-05-06 14:27] tkoomzaaskz commented on #12
not the last build has failed due to https://github.com/lemurheavy/coveralls-public/issues/487

[2015-05-06 15:35] pateketrueke commented on #18
This [format.json](https://github.com/pateketrueke/json-schema-faker/blob/master/spec/core/issues/format.json#L17) spec is using the `formats()` method this way: [formats.coffee](https://github.com/pateketrueke/json-schema-faker/blob/master/spec/formats.coffee)

I think you must add a your module like [this](https://github.com/pateketrueke/json-schema-faker/blob/master/spec/main-spec.coffee#L6):

[2015-05-06 15:41] tkoomzaaskz commented on #18
Well, I think these two things are different:
* `jsf.format` is extending `json-schema-faker`
* extending `faker` which is the content of #12.
I would not mix those things.

Please take a look at https://github.com/tkoomzaaskz/json-schema-faker/tree/extending-dependencies. [Latest build](https://travis-ci.org/tkoomzaaskz/json-schema-faker/builds/61484324) is correct, it fails only due to 3rd party

[2015-05-06 15:48] pateketrueke commented on #18
I like the idea, but using a "customize" key is too specific, we can do it more generic?

[code]

And then encapsulate the calls to `formats()` or `customize()`, etc.

This way we can refactor the `format.json` with its own dependencies too and we can remove [this ugly line of code](https://github.com/pateketrueke/json-schema-faker/blob/master/spec/main-spec.coffee#L6).

Sorry for that, I never th

[2015-05-06 16:03] tkoomzaaskz commented on #18
I agree that "customize" key is too specific, you're right. And I like the idea of encapsulating it with "require". Just need to make sure that both functions: formats and customize accept the same headers. But I don't really know how you wanna do that. Customize accepts 2 parameters now: generator name and extending function...

Don't be sorry, I just want to make it work ;)

[2015-05-06 16:05] pateketrueke commented on #12
I'd started `grunt-parts` due the boilerplate of setup stuff whenever I like to code a npm module (it was born in private projects).

And I like the results, however I never thought on supporting Windows (?) out of the box on development.

Do you mean `jit-grunt` is not working for you or it's only how `grunt-parts` is using it?

Today I can't work on a Windows machine to fix `grunt-parts` but If

[2015-05-06 16:09] pateketrueke commented on #18
We can do this?

[code]

Of course you should wrap your factory for `customize()` like [formats.coffee](https://github.com/pateketrueke/json-schema-faker/blob/master/spec/formats.coffee).

[2015-05-06 16:13] tkoomzaaskz commented on #12
I don't like Windows but I'm forced to use it, more or less.

The problem is how grunt-parts user jit-grunt. The plugin paths are generated in wrong way.

[2015-05-06 21:05] jeffcatania commented on #11
After thinking more deeply about integration, it may make sense to break apart local references and remote references into different functionality.  I like the simplicity of the ```#{}``` notation for local references.

For remote references, we could create a new faker module using json-path, a JSON implementation of XML's XPath references.

This would allow for the below input/output.

Input:
[c

[2015-05-06 21:27] tkoomzaaskz commented on #15
please take a look at #19

[2015-05-06 21:33] pateketrueke commented on #11
@jeffcatania I like the idea behind `json-path` :+1:

Now, for simple references (I'll call it "computed values") how we can resolve a computed value that depends on another?

I don't known if it would be a common/edge use case.

[2015-05-06 21:39] #15 closed

[2015-05-06 22:06] ducin opened #22 "online demo improvements"
@pateketrueke in #14 you wrote:

1. Semantic-UI/UI-Kit
2. CodeMirror for editing JSON
3. Use localStorage for storing schemas/refs
4. A bulk functionality to download all compiled schemas

Can you describe above points more precisely? I think I understand what you mean in point 3.

[2015-05-06 22:19] pateketrueke commented on #22
Forget 1 and 2, that are already solved in #19 :beers:

Currently we can't play with `$ref`'s on the UI, but `jsf` already supports them (inline/provided ones).

If we can store those schemas through localStorage jsf can use them for solve that:

- If the edited schema has an "id" then it could be saved and referenced.
- Any schema saved could be edited through the same UI
- We can create a zip-fi

[2015-05-06 22:26] tkoomzaaskz commented on #22
I've found [this](https://stuk.github.io/jszip/) for zipping from javascript.

Why is we can't play with external `$ref`s?

THe problem with localStorage is that the data is available only inside a certain browser (e.g. if I have many computers, localStorage is not synced within my computers).

[2015-05-06 22:40] pateketrueke commented on #22
This sample won't work:

[code]

But this works perfectly:

[code]

That's exactly what I mean, inlined references resolves fine.

Check out this: https://github.com/pateketrueke/json-schema-faker#using-references

Totally agree but I don't think this feature should be available across browsers, at least not right now.

Certainly we can store that stuff on Dropbox or something like https://stacked

[2015-05-07 08:07] tkoomzaaskz opened #25 "Reference not found"
I was encountering a problem with the example snippet from the readme. I just copied the code as-is:

[code]

saved it in `index.js` (or whatever file), ran `npm install json-schema-faker` and ran this node code: `node index.js`. And I got an error:

[code]

To run any `jsf` code, I had to *cut & paste* the reference to the schema inside (removing `definitions` key). Then it started working. So, m

[2015-05-07 12:18] pateketrueke commented on #25
I've replicated the same issue. If you set an id for the schema it will work but it should be fine without the id.

[2015-05-07 22:14] pateketrueke commented on #25
Solved in `deref@0.3.0` :beers:

https://github.com/gextech/deref#schema-identity

Also the specs was introducing an unexpected behavior by using `deref` for normalization: epic fail.

[2015-05-07 22:14] #25 closed

[2015-05-12 14:32] ducin opened #28 "Reference (still) not found"
Going back to #25. I can see, that `deref@0.3.0` solves this issue. The problem is that `deref@0.3.0` isn't included in `json-schema-faker`. Can we publish version `0.1.7` where, according to `develop` branch, the issue is solved? I think it's a minor fix and there's no need to wait for a bigger release. It's a **bug** afterall ;)

[2015-05-12 14:56] pateketrueke commented on #28
Totally agree, I feel a bit guilty for that. :cheers:

[2015-05-13 08:36] tkoomzaaskz opened #29 "generating array of enums"
I'm trying to provide an example faker schema that would generate *an array of enumerations*. That is, I specify possible values of the enum and give minimum number of items in the array. I've tried:

[code]

but it doesn't generate what I expect. It creates things like the following:

[code]
or
[code]
or
[code]
etc. And I expect:

[code]

Does json-schema-faker not support that feature or am I do

[2015-05-13 08:45] tkoomzaaskz opened #30 "generating array of integers"
I'm trying to generate many integers in an array. I've started with following `fschema` (i.e. *faker schema* :beers:):

[code]

`jsf` throws error and crashes: `Uncaught Error: invalid range between: 15, 5 in /`. It is thrown here:

[code]
Unfortunately, the `e.path` is empty and I don't know where it is. Seems like a magic number of value `5` to me. Another thing is *more then minimum*. I try to

[2015-05-13 08:57] ducin opened #31 "extend CONTRIBUTING.md with how the project is tested"
The [CONTRIBUTING.md](CONTRIBUTING.md) has very little content. Need to extend it.

A small guide of how the tests are organised, how to run them and add new ones would be welcome.

[2015-05-13 13:29] pateketrueke commented on #29
This works:

[code]

You are using the array-notation around the sub-schema with the enum, it means you are specifying exactly how many values will be generated: one item in the array.

[2015-05-13 13:30] pateketrueke commented on #31
OK, I'll work on this asap. :beers:

[2015-05-13 13:32] tkoomzaaskz commented on #18
Ok, I've done it. That was really hard, but finally, I did it. Please take a look. I encapsulated `customize` with `.register`. Can we publish it in `0.1.8`? I need it urgently :)

[2015-05-13 13:33] tkoomzaaskz commented on #29
Thank you for the response. Your solution works and returns random number of elements. But how can I specify *minimum* number of elements to it?

[2015-05-13 13:33] pateketrueke commented on #30
The call to `random()` are causing issues internally due the generated range.

https://github.com/pateketrueke/json-schema-faker/blob/master/lib/types/array.js#L55

[2015-05-13 13:34] tkoomzaaskz commented on #30
I find it a bug. If `minItems > 5` then we're in trouble.

[2015-05-13 13:37] pateketrueke commented on #29
Of course with `minItems` but since there is a bug with #30 you need to specify `maxItems` also as workaround.

[2015-05-13 14:10] tkoomzaaskz commented on #31
Need to add that a developer needs a coveralls.io account synced with github. I didn't know that and it took me some time until I figured out what does the 422 error mean...

[2015-05-13 14:33] tkoomzaaskz commented on #12
I'm thinking of renaming `customize` to `extend` which sounds better. How do you think @pateketrueke ?

[2015-05-13 14:48] #30 closed

[2015-05-13 14:49] pateketrueke commented on #29
Fixed on `0.1.8` :beers:

[2015-05-13 14:50] #29 closed

[2015-05-13 14:52] pateketrueke commented on #18
Great job @tkoomzaaskz :beers:

I've published `0.1.8`!

[2015-05-13 14:52] #18 closed

[2015-05-13 14:54] pateketrueke commented on #12
Oops!

[2015-05-13 14:58] pateketrueke commented on #12
BTW, there is no docs for `customize()` so we can use `extend` and deprecate `0.1.8`?

[2015-05-13 15:02] tkoomzaaskz commented on #12
yep, working on it right now ;)

[2015-05-13 15:31] tkoomzaaskz commented on #31
One more think needs there. Publishing new version on npm needs re-browserifying gh-pages

[2015-05-13 15:35] ducin opened #34 "select jsf version on demo page"
Jsf has several versions published so far. Let's extend gh-pages and browserify all versions and let user choose (a GUI dropdown) online jsf version to generate data

[2015-05-13 15:40] tkoomzaaskz opened #35 "latest jsf version display on demo page"
Configure demo page to display the version of jsf being used, e.g. from package.json.

[2015-05-13 16:15] tkoomzaaskz commented on #11
Why not to register "initial" set of values and then simply refetence them wherever we need? This will give us the order problem solved (referenced data needs to be generated at first place). Otherwise we need a complex algorithm for that. So far I'm not convinced we need it. KISS.

We can reference initially generated data both with JSON-path and JSON-pointer.

[2015-05-13 22:44] tkoomzaaskz commented on #12
#36, #37
@pateketrueke take a look whether we're ready to publish `0.1.9`.

[2015-05-13 22:59] pateketrueke commented on #12
Yeah!

I'll merge locally an then publish the next release asap.

[2015-05-14 02:33] #12 closed

[2015-05-15 07:38] tkoomzaaskz commented on #35
solved with #40.

[2015-05-15 07:38] #35 closed

[2015-05-15 07:41] ducin opened #41 "extending faker and chance in online demo"
Since version `0.1.9` it's possible to extend low-level dependencies of jsf. Online demo doesn't allow this now. Extend the gh-pages interface to allow extending jsf dependencies.

[2015-05-15 20:58] Semigradsky opened #42 "`Address.city` doesn't appear"
I created this schema json:
[code]

After generating 2000 objects I not found no one object with `city` field.
`City` field is appear If remove `id`, `login`, `name` or `email` from schema.

[2015-05-16 04:08] pateketrueke commented on #42
I see a nice issue here, if you move the `city` field before the `name` works fine.

I think properties should be shuffled before faking them, also taking in account those properties that are required.

I'll work on improving that behavior asap.

Thanks for your feedback!

[2015-05-16 06:39] tkoomzaaskz commented on #42
@Semigradsky the city attribute is not included in the required list. Is that on purpose? This would make 100% it will be included always - but don't know if that's what you want.

[2015-05-16 08:24] Semigradsky commented on #42
Yeah I want emulate an optional fields: `name` and `city`.

[2015-05-16 08:32] tkoomzaaskz commented on #42
@pateketrueke I can confirm, that optional fields don't behave... in a deterministic way, I would say. When optional, they appear very rarely.

----

I was thinking of a `probability` factor for optional fields. I know this would be another additional property for JSON schemas, but this would solve it completely:

    "city": {
      "type": "string",
      "faker": "address.city"
      "probabili

[2015-05-16 08:41] Semigradsky commented on #42
`random` meaning `probability === 0.5`?

[2015-05-21 07:13] tkoomzaaskz commented on #42
I don't have an opinion on that (randm vs random(random)), there should be a default. Anyway, @pateketrueke hasn't commented this whole idea yet.

[2015-05-21 07:24] pateketrueke commented on #42
I was over-thinking this issue but the solution is quite simple:

Given `X` declared `properties` and `Y` defined as `required` we got `Z = X - Y`.

Then we apply a `shuffle()` to `Z`, iterate over `Z.slice(0, random(0, Z.length))` and generate some optional properties, etc.

Also the `random()` call was never taking in account the `Z.length` value and other bugs came out from there.

@tkoomzaaskz

[2015-05-21 08:30] Semigradsky commented on #42
@pateketrueke fine!
Now it is working as expected :+1:

[2015-05-21 13:11] #42 closed

[2015-05-27 16:26] alanhoff opened #43 "Context"
Hello there, how can I assign contexts to my schemas? I would like to do something like this:

[code]

[2015-05-27 16:58] pateketrueke commented on #43
Which output do you expect?

[2015-05-27 17:14] alanhoff commented on #43
[code]

[2015-05-27 18:00] tkoomzaaskz commented on #31
I'll add info about upgrading jsf in the demo (`gh-pages` branch) to CONTRIBUTING.md. And re-release it up to `0.1.10`.

[2015-05-27 18:01] tkoomzaaskz commented on #43
@alanhoff could you explain, particularly, what might be the use of such thing?

[2015-05-27 18:19] alanhoff commented on #43
i'd built a Hapi plugin that uses JSF to reply with fake data, and would be awesome if i could reference the current request's context (aka body, params, query, headers, etc..)

https://github.com/alanhoff/node-hapi-faker

[2015-05-27 18:57] pateketrueke commented on #43
You must follow the json-schema rules for that, the `context` property is not standard.

[code]

But you can't produce any fixed value for `queryId` yet.

[2015-05-27 19:14] tkoomzaaskz commented on #43
Correct me if I'm wrong, but couldn't he define an enum with just a single element to choose from? That's not what json-schema schema was designed for, however...

[2015-05-27 19:20] pateketrueke commented on #43
You're absolutely right!

Using `enum` does the trick.

Totally agree...

[2015-05-27 21:25] tkoomzaaskz commented on #43
@alanhoff can we help you anyhow or shall we close that one?
@pateketrueke we might add info about adding fixed values to the docs, however (with a note like "if you really need to").

PS I just thought of another solution for this - using regexp. There is randexp used below JSF. If you give him a hardcoded string, you'll surely get that string ;)

[2015-05-27 21:32] tkoomzaaskz commented on #31
`0.1.10` demo re-released.

[2015-05-27 21:41] tkoomzaaskz commented on #31
added demo-re-release info to CONTRIBUTING.md. By the way, would you try to re-release the demo page next time you release jsf? It is simply three steps:
* update package.json version of jsf
* npm install
* `grunt`

[2015-05-28 05:37] tkoomzaaskz commented on #34
Having multiple versions of the same library is npm seems impossible right now: https://github.com/npm/npm/issues/5499. There might be a solution, however, to add static files and freeze the forever for each demo-re-release.

Grunt would scan the version of the package, append it to the browserified filename of the bundle and there would be a list of all versions. But it seems cumbersome.

[2015-05-28 05:51] ducin opened #44 "reusing compiled schemas"
It would be faster for other tools, relying on jsf, to re-use initially compiled schema. So far, there is `jsf(schema)` used to generate an object, which means that the schema needs to be read each time for each object. Unless I don't know there is a better solition. Is there :)?

E.g. in my grunt jsf plugin: https://github.com/tkoomzaaskz/grunt-jsonschema-faker/blob/master/tasks/jsonschema_faker.

[2015-05-28 18:08] tkoomzaaskz commented on #11
I took a look at https://twitter.com/JSONGenerator. I must admit that I like its simplicity, e.g. this: http://beta.json-generator.com/NNksN3y. There are also functions allowed - and they simply use the `this` context to access related data. Ultra-intuitive.

However, functions are not allowed in JSON files. And they haven't solved cycle-reference problem: http://beta.json-generator.com/PcQdYWm. I

[2015-06-05 17:14] unindented opened #45 "Negative integers don't work"
This doesn't generate a negative integer:

[code]

Am I doing something wrong?

[2015-06-05 17:17] pateketrueke commented on #45
Confirmed, It's a bug.

I'll work on this asap, thanks for your feedback.

[2015-06-05 17:38] unindented commented on #45
Thank you!

[2015-06-05 19:18] pateketrueke commented on #45
I've investigated a bit and this works perfectly:

[code]

Let me check out what the json-schema spec says. :beers:

[2015-06-05 19:31] unindented commented on #45
I knew it wasn't you. :smile:

[2015-06-05 19:52] ducin opened #46 "travis build failing"
This is very suspicious. Until now everything was working fine. Today I bumped faker.js 2.1.3 -> 2.1.4 and suddenly, travis build crashed. So I reverted the commit (which retriggered the travis build) and it failed again. I got no idea on what's going on, but in https://travis-ci.org/pateketrueke/json-schema-faker/builds/65619706 I can see that there are some methods missing:
* TypeError: Object [

[2015-06-05 20:53] pateketrueke commented on #46
It seems like jasmine-node is no longer requiring the spec `helpers.coffee`, I've added it manually and works again.

[code]

[2015-06-05 22:20] whitlockjc commented on #46
Are you going to commit the fix?  I ask because I'm working on a PR and I don't want to include that fix if I don't need to, but I do need it to run the test suite.

[2015-06-05 22:28] pateketrueke commented on #46
I've commited to `master`, please rebase again.

[2015-06-05 22:38] whitlockjc commented on #46
Thanks a lot.

[2015-06-05 22:40] whitlockjc commented on #46
I hate to be a bother but you committed to `master` yet you suggest we create PRs against `develop`.  Any reason you didn't commit there instead?

[2015-06-05 23:05] pateketrueke commented on #46
You're right, I've published to `develop` too, was my fault. :beers:

[2015-06-05 23:07] whitlockjc commented on #46
Thanks.  :)

[2015-06-06 03:35] raitucarp commented on #28
why I still have this?

[2015-06-06 16:00] pateketrueke commented on #28
@raitucarp please explain your issue, which schema is still suffering this?

[2015-06-06 16:48] raitucarp commented on #28
I have generated json schema from jsonix (convert xsd to json schema), when I use this faker, It cannot resolve the reference.

[2015-06-06 19:10] pateketrueke commented on #28
Please show your schema example.

[2015-06-08 18:37] ducin commented on #28
@raitucarp please update us on this issue. We can make jsf better only if you provide enough details. So what is the output of jsonix that you have generated? If the issue is invalid, that's fine, just let us know :)

[2015-06-08 19:17] pateketrueke commented on #44
I'm a bit lost here, if we could precompile any schema, how it would look?

[2015-06-08 21:17] ducin commented on #44
Currently we've got this:

var jsf = require('json-schema-faker');
var fakeObject1 = jsf(schemaObject);
var fakeObject2 = jsf(schemaObject);
var fakeObject3 = jsf(schemaObject);

Note, that each time we want to create a fake object, the schema object needs to be analysed from scratch (traverse->...). And it's only 3 times in above example. Imagine it'd be 1000? Now, I'm using jsf in my [grunt plug

[2015-06-09 07:48] raitucarp commented on #28
Forgive me for being late to reply this issue, Honestly I convert awsecommerce xsd with jsonix to json schema..

the xsd url is:
http://webservices.amazon.com/AWSECommerceService/2013-08-01/AWSECommerceService.xsd

jsonix command to generate json schema:
[code]

reference:
https://github.com/highsource/jsonix-schema-compiler/wiki/JSON-Schema-Generation

I can't paste the JSON schema here, because

[2015-06-09 07:51] ducin commented on #28
@raitucarp could you save the JSON schema as a JSON gist? See gist.github.com. It will be A LOT easier for us...

[2015-06-09 07:54] raitucarp commented on #28
Ok. Thanks for remind me

Here is the gist:
https://gist.github.com/raitucarp/2ac86c96226371bc80d7

[2015-06-09 08:26] ducin commented on #28
I confirm, there is something wrong with resolving references. Take a look at my fork: https://gist.github.com/ducin/b55d0247f6f179884bfb and its comment (quick run guide).

I get the following error:
[code]

I think I got the same errors when trying to access schemas from outside world. And I checked - http://www.jsonix.org/jsonschemas/w3c/2001/XMLSchema.jsonschema is accessible.

@raitucarp sorr

[2015-06-09 08:35] raitucarp commented on #28
OK @ducin no problem, thanks for confirm it. :+1:

[2015-06-09 12:46] pateketrueke commented on #28
According with the [README](https://github.com/pateketrueke/json-schema-faker/blob/master/README.md#using-references):

IMO the only concern of `jsf` is faking data, consider using `refaker` for that.

However, I think that integrating `refaker` into `jsf` isn't a big issue and can be solved later.

What do you think?

[2015-06-09 12:59] ducin commented on #28
Imho the best solution is to:
[1] keep refaker as a standalone module and maintain it as it is
[2] include it as a *hard dependency** for jsf. Otherwise jsf is losing a killer-feature. And I guess we want to make using jsf easy and user-friendly (all dependent tols already configured).

I'd suggest something, unfortunately, I'm not familiar with `refaker` yet. I checked the docs, but I don't know

[2015-06-09 13:33] pateketrueke commented on #28
Is not necessary to know RAML in order to use `refaker`, that tool was born from some RAML projects I have, but it's main concern is downloading/faking json-schema references.

BTW; I've been testing with that jsonix samples and `refaker` fails due redirections and other unexpected issues, LOL.

[2015-06-11 06:00] philberg commented on #45
I have fixed this issue in [my PR](https://github.com/Marak/faker.js/pull/218) and added an explicit test

[2015-06-11 14:44] pateketrueke commented on #46
Not sure but I think this is solved.

[2015-06-11 14:44] #46 closed

[2015-06-11 14:46] pateketrueke commented on #45
Fixed on `0.1.12`, thanks to @philberg yay! :beers:

[2015-06-11 14:46] #45 closed

[2015-06-11 14:52] ducin commented on #43
I'm closing this one, since nothing is happening and the question has been answered.

[2015-06-11 14:52] #43 closed

[2015-06-11 15:02] pateketrueke commented on #44
I understand, so the `compile()` method would give us a `new Function()` of pure Javascript code, even this can be saved for later use, etc.

We need some code-generation behind the scenes, I'm right?

[2015-06-11 15:12] ducin commented on #44
More or less, yes. But I was not thinking about a "pure" JavaScript (Vanilla JavaScript) function. I was thinking just of a closure that would just reuse everything that is already written.

[2015-06-11 15:18] ducin commented on #44
I was thinking of something like turning

    {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "faker": "name.findName"
        },
        "email": {
          "type": "string",
          "faker": "internet.email"
        }
      },
      "required": [
        "name",
        "email"
      ]
    }

into:

    function(){
      return {

[2015-06-11 16:09] pateketrueke commented on #44
I got it, I see this as a major improvement, so let's work on this on the next weeks. :beers:

[2015-06-12 06:51] highsource commented on #28
Jsonix author here. Let me know if you need support from the Jsonix side.

[2015-06-25 15:33] ducin commented on #31
Thanks to [grunt-npm-install](https://github.com/iclanzan/grunt-npm-install), there's one step less to update the demo page:
* update jsf version manually in `package.json` file
* `grunt`

[2015-06-25 16:55] pateketrueke commented on #31
I've never heard about `grunt-npm-install` but sounds great! :beers:

[2015-06-30 13:32] omerts opened #52 "Reference not found with $schema"
Hello,

If I use a ref inside my json schema, I get a "Reference not found: http://json-schema.org/draft-04/id#" error for the $schema def.
The schema:
[code]

Removing the $schema key, or remove the $refs, works, but I want to be able to keep both.

Thanks,
Omer

[2015-06-30 14:56] pateketrueke commented on #52
How you're specifying those references?

Basically you can do this:

[code]

Check out the README section about [using references](https://github.com/pateketrueke/json-schema-faker#using-references).

[2015-06-30 15:20] omerts commented on #52
@pateketrueke
It throws the error on this line:
[code]
Which I haven't used $ref on. Using refs without the above line, works perfectly. (I do something similar to the example)

[2015-06-30 15:47] pateketrueke commented on #52
Schemas and references should have the same `$schema` key because that's how references works on JSON-Schema.

Of course, if both ref and schema have not `$schema` a default should be used for.

Default `$schema` if missing: `http://json-schema.org/schema#`

So, this works perfectly:

[code]

Using the same `$schema` also works:

[code]

Any schema you use must share the same namespace (`$schema`)

[2015-07-01 16:16] omerts opened #53 "Generate value based on another generate value"
Hello,

I have a schema, where the value of one property is oneOf different objects.  I need the oneOf to be selected according to a generated value in a different field.
For example:
[code]
I need the preview object to be selected according to the value in data_item_type.
Is it possible?

Thank you

[2015-07-01 16:22] ducin commented on #53
As far as I understand, you need to make a relation between (sub)attributes within one schema.

And as far as I know, relative values are not supported by jsf yet #11. But the feature would be very welcome! We haven't agreed on the algorithm for doing it yet.

[2015-07-01 16:23] omerts commented on #53
I see. Thank you :).

[2015-07-02 09:52] ducin commented on #53
@omerts I close this one, since it's the same as #11.

[2015-07-02 09:52] #53 closed

[2015-07-02 09:54] ducin commented on #52
@omerts did you solve your problem? Do you have further questions?

[2015-07-02 10:02] omerts commented on #52
I did, sorry for not closing. Thank you @pateketrueke :)

[2015-07-02 10:07] ducin commented on #52
@omerts PS if you think we might extend our docs, so that it's easier for other people, please, submit a PR :)

[2015-07-13 13:26] #52 closed

[2015-07-13 13:31] ducin opened #54 "re-using multiple subschemas between schema files"
I've got a very big schema (thousands of files), which I have finally split into multiple files (according to [docs](https://github.com/pateketrueke/json-schema-faker#using-references)). There is one "master" schema and over a dozen of chunk-schemas. I want to reuse simple structures between all of them, such as:

[code]

When I had one big file, I used to keep everything in `definitions`, just li

[2015-07-13 13:57] pateketrueke commented on #54
How you are defining those refs?

[2015-07-14 08:32] ducin commented on #54
Below is what I've managed to do - it's a working solution, but I'm not sure, whether it's the simplest possible.

main file (customer) - the one that references the rest:

    {
      "type": "object",
      "additionalProperties": false,
      "properties": {
        "id": {
          "$ref": "random.bigId"
        },
        "externalId": {
          "$ref": "random.id"
        },
        "acco

[2015-07-19 12:16] omerts opened #55 "Please update faker.js"
This project is very helpful to us. We need the new faker.js generators, such as name.jobTitle.

[2015-07-19 21:26] ducin commented on #55
@omerts What do you mean by updating faker generators? Recently, faker.js `3.0.0` has been released and so json-schema-faker `0.2.0` has been released (basing on faker.js `3.0.0`). I checked and faker 3.0.0 is the latest release.

Please provide more information on what exactly do you expect?

[2015-07-20 09:05] omerts commented on #55
@ducim I am trying to use faker.jobDescriptor, faker.jobArea, and faker.jobType, and I am getting the following error:
[code]

[2015-07-20 14:56] ducin commented on #55
@omerts which faker.js version are those generators available in?

[2015-07-20 15:03] pateketrueke commented on #55
This actually works:

[code]

[2015-07-20 16:23] omerts commented on #55
Sorry I was in an older json-schmea-faker version. Thanks for the great work!

[2015-07-20 16:23] #55 closed

[2015-07-31 17:44] whitlockjc commented on #12
I'm not seeing this have any impact on the bundle when using browserify.  I set the `locale` to `en` and it seems to still bundle all of the locales in faker.js.  Is there a way to use this new feature to replace `require('faker')` with `require('faker/locale/en')` so I do not get all locales in my browserified bundle?  *(See https://github.com/Marak/faker.js#individual-localization-packages)*  Cu

[2015-07-31 19:04] whitlockjc opened #56 "Allow for faker.js locale to change the required AST when using Browserify"
faker.js has this nifty ability to require individual locales as [documented here](https://github.com/Marak/faker.js#individual-localization-packages).  The idea is that when using Browserify, you could use `require('faker/locale/en_US')` and only end up with the `en/en_US` locales being in the AST used by Browserify instead of having all locales in the AST.

Right now, json-schema-faker does not

[2015-07-31 20:07] ducin commented on #56
Hi @whitlockjc, first of all, single-locale-faker.js is a new feature that has been added in v3.0.0, as far as I know. When I added extending dependent libs, it was not there - that's why this feature is not supported yet.

I took a quick look at how does this line of faker work:
[code]
so it's:
[code]
original faker lib (the main one) is loaded in normal way. Then the locale is being set. And suc

[2015-07-31 20:10] ducin commented on #56
PS @whitlockjc have you removed the other issue/comment (Extending low-level dependencies (#12)
)?

[2015-07-31 20:47] whitlockjc commented on #56
Yes I did.  I didn't want to cross post and after looking into faker.js, I think this is a separate issue.

[2015-07-31 21:30] pateketrueke commented on #56
This works:

[code]

[2015-07-31 21:44] whitlockjc commented on #56
That doesn't seem to help.  While I can replace the faker instance, Browserify's AST still has all of the locales that faker includes by default when using `require('faker')`.  I tried the following and they all end up with 898 files included in the Browserify bundle.

[code]

[code]

[2015-07-31 22:35] pateketrueke commented on #56
Yeah, sorry, I'm not taking in account that.

I'm trying this:

[code]

That would work for you?

[2015-07-31 22:56] whitlockjc commented on #56
Great idea!  I didn't even know about that Browserify feature.  With `browserify --list -r json-schema-faker/node_modules/faker/locale/en:faker testing.js | wc -l` I only get `147` files instead of `896`.

Thanks a lot!

[2015-08-01 17:52] ducin commented on #56
Hey guys,

I know this issue has been resolved, but each time anybody asks about something, it means, our docs could be better :) so I've extended the jsf documentation (see https://github.com/ducin/json-schema-faker/blob/master/README.md#extending-dependencies).

And I think it'd be good to add it to the docs. But, to be honest, I didn't get the trick with browserify and the abstract syntax tree.

[2015-08-03 09:45] mikaa123 opened #57 "allOf doesn't work properly"
Hey there,
First, thanks a lot for this super useful lib. :)

I have a problem with `allOf`. When used, it seems to only include the last schema passed. Here is an example :

[code]

The resulting JSON looks like this :
[code]

(example taken from http://spacetelescope.github.io/understanding-json-schema/structuring.html)

I'm not sure the problem actually comes from json-schema-faker. Most likely

[2015-08-03 16:16] ducin commented on #57
Hi @mikaa123, thanks for contacting us. Unfortunately, I confirm it is a problem with jsf, not your code.

In fact, jsf currently supports only trivial situations in `anyOf`, `allOf`, `oneOf`. It lies in the [json-schema-faker/lib/util/combine.js](https://github.com/pateketrueke/json-schema-faker/blob/master/lib/util/combine.js#L9) file. The existing code holds a container that would merge all att

[2015-08-03 16:17] ducin commented on #57
When we do this issue, it'd be nice if all combiners (`allOf`, `oneOf`, `anyOf`) got fixed.

[2015-08-03 17:00] pateketrueke commented on #57
@ducin I prefer [deepmerge](https://github.com/KyleAMathews/deepmerge) to stay small.

[2015-08-03 17:02] pateketrueke commented on #57
Yes, many of those issues may be solved by fixing `deref` first.

I'll work on that asap, due many issues are related by dereferencing stuff.

[2015-08-03 19:15] ducin commented on #57
@pateketrueke so the issue is not where I pointed out?

PS I've tried to read through the core source code to make a bugfix, but I found it complex... Do you think it's possible that you could write few sentences of description on how everything works internally? I mean - what is the responsibility of deref (the input, the output), which parts are responsible for what? The only way to solve this i

[2015-08-03 19:44] pateketrueke commented on #57
@ducin I'm not tried what you said about doing a deep merge, could you test that please?

However:

Fixing `deref` MUST help to mitigate these kind of issues but certainly not `jsf`'s ones, `jsf` MUST use `deref` only for dereference requested sub-schemas.

The current behavior is that `jsf` perform a full dereferencing before iterate anything, that is the key for everything: it must perform a laz

[2015-08-10 19:36] ducin commented on #31
coveralls.io needed for a push-commit-developer mentioned in 4d7390b82eac8196b5aafa51621da2467c9a12e8.
@pateketrueke: would appreciate few sentences of test architecture description :)

[2015-08-10 20:01] ducin opened #58 "An anniversary? ;)"
Soon we'll reach 100 stars on github. What d'ya think of introducing a logo for jsf? Here's my fast suggestion:

![json-schema-faker](https://cloud.githubusercontent.com/assets/375027/9182532/3cdcc220-3fab-11e5-900a-997dc28b60fb.jpg)

this is where the original image comes from: http://www.devilsgarage.com/character-design/the-illusionist/

[2015-08-10 21:29] ducin commented on #57
I made a try and, unfortunately, deepmerge either doesn't seem to do the job or it will need some pimp-up before used, since it throws "cannot call ... on undefined" errors. Anyway, I tried to use underscore + underscore-deep-extend and my solution works for above case.

[2015-08-12 19:01] whitlockjc commented on #56
This actually does not work.  When using `-r faker/locale/en:faker`, it does not work when building standalone libraries: https://github.com/substack/node-browserify/issues/1120  To save you having to dig into the linked issue, imagine I have a module like this:

**my-module.js**
[code]

If I browserify my bundle using `browserify -s MyModule my-module.js`, I get a global object called `MyModule`

[2015-08-12 19:14] pateketrueke commented on #56
I understand.

Would be possible to make this in a two-step build process?

If you first create the bundle for `faker/locale/en:faker`, then include it using the `--external` option.

[2015-08-12 19:18] whitlockjc commented on #56
The biggest problem I've run into is most of the support for external libraries and such usually don't apply to dependencies, which json-schema-faker is for my application.  So while I could use the `browser` option in my `package.json` or a plethora of other transforms, they only alter the content of the files in my module, not the dependencies of my module.  So I'm not sure how this will change

[2015-08-15 14:20] pateketrueke commented on #58
I like it, I hope the author can grant permission of use. :+1:

[2015-08-17 17:53] whitlockjc commented on #56
I did find a solution that works: https://github.com/apigee-127/sway/commit/7670613d8a9f29c43434084d3bb91bf86931af4d  It uses the [pathmodify](https://github.com/jmm/pathmodify) browserify plugin.

[2015-08-17 23:41] pateketrueke commented on #56
Awesome!

[2015-08-20 19:43] pateketrueke opened #62 "Infer type issues"
This schema is failing:

[code]

Expected:

[code]

Actual result:

[code]

If I change the property name to anything else (but infer keywords) works properly.

if the inferred type is an object having a `type` keyword should stop inferring?

cc: @whitlockjc

[2015-08-20 20:17] whitlockjc commented on #62
Interesting.  I thought about this at implementation time but I didn't have a good solution.  Let me give this some thought.

[2015-08-20 20:17] whitlockjc commented on #62
Basically, we need to know if `items` is an attribute or the `items` portion of an `array` definition.

[2015-08-20 20:44] whitlockjc commented on #62
This shouldn't be that hard to fix, I'll have a PR shortly.

[2015-08-20 21:19] mike-engel opened #63 "A way to generate sequential date-time strings?"
I'm wondering if there's a way to generate sequential date strings with a schema. I need to generate a bunch of data to be plotted on a graph. Having a bunch of random dates doesn't do me much good. Ideally, I'd like to have an array of items that are sequential time-wise.

I haven't found a way to make this happen, but maybe someone else has.

[2015-08-20 21:33] pateketrueke commented on #62
Basically `if (obj.items && typeof object.items.type === 'string') // not an array`

[2015-08-20 21:35] whitlockjc commented on #62
I think it's bigger than that.  Any of the defining properties for each type, if you use that as a `properties` property, you can run into this issue.  It's not specific to arrays.

[2015-08-20 21:39] pateketrueke commented on #63
Do you think it's related to #11 ?

[2015-08-20 21:42] whitlockjc commented on #62
But what's interesting is that json-schema-faker does not distinguish between *"user provided values"* and *"JSON Schema values"*.  What I mean by that is that json-schema-faker will attempt to find the type for the `properties` object for an object when it really shouldn't since it should always be an object.  So if I have a `properties` property on my object, I'd have something like this:

[code

[2015-08-20 21:45] whitlockjc commented on #62
What appears to be happening is that `['properties']` is being checked for an invalid type since its type is not provided and when it sees an `items` property, it assumes an array.  Let me see if I can come up with something.

[2015-08-20 22:03] mike-engel commented on #63
@pateketrueke It's somewhat related, but it needs to a little further. In order to create a reasonable data set for something like a graph, I'd need to know the last value used to I could build on that. I'll try to provide an example.

What I'd like to see output:

[code]

Right now, the closest I can get is using `faker.date.recent`, but the dates won't be sequential nor make much sense:

[code]

[2015-08-20 22:08] whitlockjc commented on #62
I have something working and I'm writing a few extra tests.

[2015-08-20 22:35] whitlockjc commented on #62
First pass is in PR #64.  The only way to reproduce this in testing and do a `type` test is for arrays but I did ensure that this worked for objects and other types as well.

[2015-08-20 23:19] pateketrueke commented on #63
I got it, seems like a reduce() operation while constructing the array.

I guess the first value is the only faked and subsequent values will be "constructed" using the previous value?

[2015-08-20 23:57] mike-engel commented on #63
Yep, that makes sense. Is that something that's currently do-able?

[2015-08-21 04:34] pateketrueke commented on #63
Actually is a missing but nice to have feature.

I think it's fairly simple implement this only for arrays.

[2015-08-21 09:51] robjens opened #66 "How to support v3"
Ok it's not 'really' `v3` support but good enough for my use case and works like a charm.

So just a minor tip here, in case anyone would want to use JSON Schema `v3` (I want to mock up our RAML API schemas and those are only `v3` as of yet).

There is an easy way to do this, the steps to take would be:
1. `npm i json-schema-compatibility`
2. read schema file(s) using any (a)sync method you like
3

[2015-09-01 08:18] hellboy81 opened #67 "[discussion] [help needed] freeze property values"
Is there possible to freeze property value in item schema?

[code]

[2015-09-01 08:25] ducin commented on #67
@hellboy81 sorry, I can't understand what you need. Can you write it more precisely?

[2015-09-01 08:37] hellboy81 commented on #67
[code]

This is only sample, another fields are also presented in schema.

[2015-09-01 08:40] hellboy81 commented on #67
Issue: for some test cases `type` value is important due on
[code]

for another test cases `type` value doesn't matter.

[2015-09-01 08:46] ducin commented on #67
As far as I understand your problem, it's not possible yet, since JSON Schema is a *structure*, and what you need is a parametrized function. We are considering dynamizing JSON Schema Faker to work on functions, but it can take some time until we get there.

[2015-09-01 08:54] hellboy81 commented on #67
As I mentioned the only workaround at the moment is

[code]

[2015-09-01 09:03] ducin commented on #67
If you want such workaround, you might use:

[code]

assuming you don't check whether the parameter passed is either 0 or 1 (you assume it's correct). Then you just overwrite the `enum` property. If you've got an enum with 1 value, you've got 100% percent guarantee it will be them one to use.

[2015-09-01 13:21] pateketrueke commented on #67
Using a custom format wouldn't help?

[2015-09-01 13:27] hellboy81 commented on #67
sample?

[2015-09-01 13:28] hellboy81 commented on #67
This does not work properly if `type` = 0

[2015-09-01 13:30] hellboy81 commented on #67
should be refactored  to array

[2015-09-01 13:35] hellboy81 commented on #67
Off/2: How can share definitions between multiple schemes?

As I mentioned this is valid definition for `mongoId` and can be shared between mulitple document schemes:

[code]

[2015-09-01 13:39] pateketrueke commented on #67
A: [Custom formats](https://github.com/json-schema-faker/json-schema-faker/blob/master/README.md#custom-formats)

A: [Https://github.com/json-schema-faker/json-schema-faker/blob/master/README.md#using-references](Using references)

[2015-09-01 13:50] hellboy81 commented on #67
I am still don't understand.

How can I refactor this code to have the **only one** `mongoId` definition :

[code]

[2015-09-01 13:51] hellboy81 commented on #67
Should I use additionally [refaker](https://github.com/json-schema-faker/refaker) ?

[2015-09-01 15:01] pateketrueke commented on #67
No, refaker is only if you have local or remote references, is not your case.

I think the main example would be enough:

[code]

[2015-09-02 04:40] #62 closed

[2015-09-02 06:12] hellboy81 commented on #67
Can I change definition

[code]

if type scheme is defined in `refs`  ?

[2015-09-02 07:41] ducin opened #68 "[critical] build tests fail - references"
Today I made one commit - changed `pateketrueke` into `json-schema-faker` in all markdown/readme links (https://github.com/json-schema-faker/json-schema-faker/commit/7b058b4b538613d40c8dc01077168ecc344ebf98). This caused the tests to fail...

The bug had to be somewhere there before - or the dependencies started to work in different way, dunno yet. Anyway, there are two similar fails

(1) I made t

[2015-09-02 07:43] ducin commented on #68
Once this is fixed, we may prepare 0.2.1 release and promote both the logo and the new version. But can't do it as long as the tests fail ;P

[2015-09-02 13:34] pateketrueke commented on #68
Yes, it's a know issue, sometimes the generated numbers are wrong... my bad.

[2015-09-02 13:41] ducin commented on #68
that's ok ;)  are you gonna fix that or do you need somebody's help?

[2015-09-02 13:47] pateketrueke commented on #68
For numbers I need a little help, it's a weird behavior and needs more testing.

Actually I'm working on `deref` and `refaker` for solving `$ref` related issues, both seems stable on their develop branches, but still failing with jsf.

[2015-09-04 08:07] hellboy81 opened #69 "Make faker dependency optional"
In my fakes for unit tests only `chance` library is used to generate both fake values (strings, numbers etc) and object from JSON scheme.

[code]

Why `faker` dependency is still required by `json-schema-faker`?

[code]

[2015-09-04 14:53] pateketrueke commented on #69
Take a look to #56 you can easily build while *faking* the *faker* module to an empty one?

[2015-09-08 08:59] Scorpil commented on #57
I've stumbled upon this issue too. Thanks for looking into it, @ducin .
Do you think it would be a good idea to share your work through separate branch or PR so that we could review and maybe help with some issues?

[2015-09-11 22:54] ducin commented on #68
Do you have any clue on where should I look at? Is this bug somehow related to deref/refaker?

[2015-09-12 00:43] pateketrueke commented on #68
In `develop` the specs still failing after dereferencing on numbers, may the new merge strategy break this?

I'm not sure since the number specs are now looking good, may be we need to add more.

If you can reproduce the same without using references would be nice feedback.

Actually `jsf` performs a full dereferencing before faking anything so probably: yes.

I think we must think about a better

[2015-09-12 09:23] ducin opened #70 "[critical] numbers error"
While looking at #68 I've found another bug. In [the last travis build](https://travis-ci.org/json-schema-faker/json-schema-faker/builds/79080236) I foud there is another test failing:

[code]

so I took a look at the schema, wrapped it in a big array and put it into our [demo page](http://json-schema-faker.js.org/). The schema is:

[code]

and an example result is:

[code]

As you can see, there

[2015-09-12 09:45] ducin commented on #70
The problem arises somewhere inside of [this](https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/types/number.js#L39):

[code]

as I look down into [random.js](https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/util/random.js) file I think totally overcomplicated. I mean, if I want to generate a random number, why shouldn't I just use pure, simple functions

[2015-09-12 09:57] ducin commented on #70
mkay, I'm on my way to fix the bug. It's [integer.js](https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/types/integer.js#L8). When it's generating `{min:5,max:10}` then the `floor` function is perfectly fine. But when it's generating `{min:-10,max:-5}`, then the `floor` function might go beyond the scope, e.g. -10.23564568623 and then the floor will make it `-11` (beyond scope

[2015-09-12 10:26] ducin commented on #70
Done, fixed

[2015-09-12 10:26] #70 closed

[2015-09-12 10:32] ducin opened #71 "stable releases"
Hi @pateketrueke and @whitlockjc,

Recently we've had a situation where the `master` branch travis status turned into `failing` with no code changes. There were only docs changes. Actually, this one is still not fixed. I've got no idea on how did this happen...

What I would like to achieve is to make `master` branch stable 100%, both npm and github. And to achieve that, we need passing travis bui

[2015-09-12 10:52] ducin commented on #57
Hi @Scorpil, there is the ["guidelines for contributing"](https://github.com/json-schema-faker/json-schema-faker/blob/master/CONTRIBUTING.md), please take alook at it. Of course, the best way is to create your own branch and PR it against `develop`. Then we will look into it. Contribution is very welcome :)

[2015-09-12 12:12] ducin commented on #68
I've fixed one bug related to numbers (#70). I've also tried to bump up jsf:deref 0.3.0 to 0.4.0, but it fails two tests, see https://github.com/json-schema-faker/deref/issues/7.

[2015-09-12 12:25] ducin commented on #68
Fixed, as the `0.2.1` release is passing on travis.

[2015-09-12 12:25] #68 closed

[2015-09-12 12:47] #58 closed

[2015-09-12 14:02] pateketrueke commented on #71
Totally agree.

I merged that by mistake, I adhere to you on respecting the guidelines.

[2015-09-14 20:33] ducin opened #72 "cleaning up branches"
There are two branches we might not need:
* [fix-issue-62](https://github.com/json-schema-faker/json-schema-faker/tree/fix-issue-62)
* [docs/testing](https://github.com/json-schema-faker/json-schema-faker/tree/docs/testing)

Is it OK to remove them? FYI: Before releasing `0.2.1`,I didn't do a merge commit (I don't like that), instead, I did a git rebase. And there were few minor conflicts I resolv

[2015-09-14 20:37] ducin commented on #28
Everybody, what is the status of this issue?
@raitucarp is the issue already solved for you? Can we help you further anyhow?

[2015-09-14 20:55] pateketrueke commented on #72
Yes, please. :beers:

For  `docs/testing` is only the README inside the `spec` folder.

[2015-09-15 10:10] ducin commented on #72
Done.

[2015-09-15 10:10] #72 closed

[2015-09-16 08:43] Scorpil commented on #57
@ducin i know how github works, i've meant *your* branch. Nevermind, I'll just wait until fix is in master ;)

[2015-09-16 08:45] ducin commented on #57
This might take some time.... Again, you contribution would very welcome :) please keep in mind that there has been changes in the latest `0.2.1` version.

[2015-09-18 07:28] pateketrueke commented on #31
Seems to be solved in `develop` branch.

[2015-09-18 07:28] #31 closed

[2015-09-18 07:29] pateketrueke commented on #57
Seems to be solved in `develop` branch.

[2015-09-18 07:29] #57 closed

[2015-10-08 08:46] ducin opened #73 "dependencies update"
Need to bump up dependencies, https://david-dm.org/json-schema-faker/json-schema-faker

[2015-10-09 07:57] chrisns opened #74 "(min|max)Length seems to be ignored when specifying a pattern"
[code]
results in strings exceeding the length

[2015-10-09 11:42] ducin commented on #74
@chrisns shouldn't your regex be just `^([A-Za-z0-9- ]{0,5})$`?

[2015-10-09 11:44] chrisns commented on #74
yes, I can do that and it works fine and not have it in the ```minLength``` + ```maxLength```
but that does make it less readable

[2015-10-09 11:44] ducin commented on #74
Anyway, there is a problem here if properties are in conflict. If we've got following definition:
[code]
(regex is an alternative of 5-char long strings + the maximum length is 2, which conflicts)
How should such definition behave? I can see following options:
* try to analyse the semantics of a regex - seems extra difficult and not sure if doable
* execute the regex pattern first and then see if

[2015-10-09 11:48] chrisns commented on #74
ummm good point, I don't know, its not going to stop you writing invalid schemas really.
I guess we'd need to refer to the order rules are applied in some of the larger validators

[2015-10-09 17:07] ducin commented on #73
Just read that there is a platform that does the job automagically, http://greenkeeper.io. It is free for open-source projects. I'd give it a try. @pateketrueke, what d'ya think?

[2015-10-09 17:50] pateketrueke commented on #73
Sure thing! :beers:

[2015-10-09 21:52] ducin commented on #73
There was a little bit of chaos here, sorry for that. We've had two changes: `develop` branch changes and dependencies version bumps by greenkeeper. I haven't seen that the tests for develop *fail* and I merged it into master... but I rolled it back immediately.

Then I made the new 0.2.2 version with greenkeeper only and it passes https://travis-ci.org/json-schema-faker/json-schema-faker/builds/8

[2015-10-09 22:18] ducin commented on #73
* work done.
* `release-0.2.2-only-greenkeeper` deleted, since it has served it's role (it's the new `master`).
* `release-0.2.2` deleted, since 0.2.2 has been taken and `develop` needs more work.
* the `greenkeeper-update-all` branch is used by greenkeeper, so I guess we shall leave it alone.

[2015-10-09 22:18] #73 closed

[2015-10-13 20:03] #74 closed

[2015-10-14 13:59] floarc opened #76 "A way to calculate all possible combinations of json based on a enum only json schema ?"
Hello all,

Lets say i have a json schema made to describe a car.
And this json schema is only made of enum properties.
eg :
color : red, blue ,white, yellow
motorisation : 100hp, 120 hp
and so on...

Is there a way to use json-schema-faker to generate all different jsons where each json representing a unique car ?

My idea behind this, is to be able to draw a kind of tree diagram of all possible

[2015-10-14 14:36] ducin commented on #76
Hi Florent,

No, currently there is no such feature. The thing is that jsf is used to generate independent samples. And what you need is a relation between the samples: uniqueness.

The problem is that we can't introduce a feature that would satisfy enums only. We do have dozens of other definitions, such as regexes. Imagine, how could we generate all possibilities of a regex like `[A-Za-z0-9]*`?

[2015-10-20 14:22] hellboy81 opened #77 "[question] [discussion] [help needed] Generating json object with random key"
How can I generate object with random key that has following schema:

[code]

Key should be generated on the basis of previous schema ([random](http://git.io/vWkVJ) upper-cased string with length 32)

[code]

[2015-10-20 14:31] ducin commented on #77
Hi @hellboy81, you can't do that *in one step*, I mean, json-schema-faker doesn't allow you to do such thing out of the box.

But if you do need such feature, you might just divide generating above document into two steps:
 * generate the key and store it as a string
 * use the key as a part of a dynamically-generated json-schema.
This will do the trick.

There is very little chance we'd like to i

[2015-10-20 16:12] pateketrueke commented on #77
Or you can use `patternProperties` as follows:

[code]

As it follows the json-schema standards I think it would be enough?

[2015-10-20 16:32] ducin commented on #77
@pateketrueke didn't know about this feature. Now I have a question here - how can we make this dynamically generated attribute required? I've pasted your code into [our demo](json-schema-faker.js.org) and it randomly gets either the dynamic thing generated or whole being empty.

[2015-10-20 16:51] pateketrueke commented on #77
I've missed it but using `minProperties` does the trick:

[code]

[2015-10-20 18:49] hellboy81 commented on #77
@ducin  OK, this is not a part of JSON-Schema specification _draft-04_

[2015-10-20 19:50] ducin commented on #77
@hellboy81 ORLY? Look at [this](http://json-schema.org/example2.html), the find (ctrl+f): `patternProperties` - it is a part of the [json schema validation](http://json-schema.org/latest/json-schema-validation.html#anchor64). At least that's what I can see.

@pateketrueke not sure what you mean: *you missed it*, like, you can't remind what was the right attribute to set, but it does exist? Or you

[2015-10-20 20:07] pateketrueke commented on #77
@ducin yeah, sorry for that, I've missed that property in the given example.

And yeah, is very difficult to ensure required `patternProperties` all the time, I think we need to explore edge cases for that. ;)

After some research most people say that using min/max properties would be a solution.

I didn't get a better idea and JSON-schema is not clear about that.

[2015-10-20 20:10] ducin commented on #77
Seems like @hellboy81 's question leads to a gap in json schema standard. @pateketrueke no worries! :beers:

[2015-11-19 18:05] Dygerati opened #80 "Improperly handling 'allOf' block"
I've got an issue that stems from a schema something like the one below. I can also reproduce on your web-based generator [here](http://json-schema-faker.js.org/).
[code]

If I plug in the proceeding schema, all but the last object listed in the *allOf* array is ignored. The output of above is as follows:
[code]

When it should also include the "order" property outlined in the first object. Any th

[2015-11-19 18:50] pateketrueke commented on #80
Yes, I know that issue and actually your json-schema MUST work as you expect.

I'll fix that asap, thanks for your feedback!

[2015-11-19 21:53] Dygerati commented on #80
Great, thanks!

[2015-11-23 19:42] Dygerati opened #81 "Generate ONLY required fields?"
Is it possible, when generating JSON, to limit it to only the required fields? Right now it mandates required fields and randomizes the others.

We're trying to use this to generate auto-updating documentation, and including non-required properties could confuse things.

[2015-11-23 20:16] pateketrueke commented on #81
Yeah, I think it's possible.

Using `jsf(schema, refs, true)` could be a strict-version for...

Even more, did you think in another possible "options" to take into account?

[2015-11-23 22:13] Dygerati commented on #81
Thanks, although those parameters don't seem to have any impact.

Looking at the source code I don't actually see a 3rd argument? What "options" do you mean?

[2015-11-23 22:26] pateketrueke commented on #81
I'd mean, it's not implemented yet, just I've draw how it can be used:

[code]

I think this feature would add much value so I'll implement this asap. :beers:

[2015-11-24 17:23] Dygerati commented on #81
Awesome, much thanks!

[2015-11-25 06:11] pateketrueke opened #82 "Spec "should handle maximum" failed"
I ran this: `while grunt spec --no-lint; end` :+1: (some time later... boom! :bomb:)

[2015-11-25 06:20] #28 closed

[2015-11-25 06:26] pateketrueke commented on #28
@highsource I've updated https://gist.github.com/pateketrueke/152cf7ab2ad61543cd27 to test against the related schemas, some feedback would be appreciated.

[2015-11-25 07:06] pateketrueke commented on #80
It works! :beers:

http://json-schema-faker.js.org/#{%22allOf%22%3A[{%22required%22%3A[%22order%22]%2C%22properties%22%3A{%22order%22%3A{%22type%22%3A%22string%22}}}%2C{%22required%22%3A[%22id%22]%2C%22properties%22%3A{%22id%22%3A{%22type%22%3A%22number%22}}}]}

[2015-11-25 16:59] Dygerati commented on #80
That was fast! And it works great; thanks!

[2015-11-25 18:11] #80 closed

[2015-12-02 15:33] XVincentX opened #83 "Gracefully handle unrecognised types"
Hello!
First of all, thanks a lot for the great library.

During our usage, we're dealing with some schemas which have an unrecognised `type`, such as `customStructure` and so on.

Actually faker throws an exception, as you can see here.

![image](https://cloud.githubusercontent.com/assets/1416224/11535031/4999867c-9912-11e5-974e-02f085316a57.png)

It would be great if it could gracefully handle t

[2015-12-02 17:39] ducin commented on #83
Hello Vincenzo :) now we meet here :)

Two questions:
1. What exactly throws the error - faker.js or json-schema-faker?
2. Could you provide examples of schemas? It'd be a lot easier for us, knowing what exactly we're deadline with.

[2015-12-02 18:18] XVincentX commented on #83
No, that's incredible! YOU? :+1:

By the way:
Reproducing the error is very simple and it can be done directly from your [online demo page](http://json-schema-faker.js.org/)

[code]

Putting this as schema and then clicking **Generate Sample** is enough to trigger the error in the console.

Actually, I am quite sure the problem is in `json-schema-faker` in [traverse.js#L35](https://github.com/json

[2015-12-02 18:45] pateketrueke commented on #83
I guess that feature could be implemented easily for allowing us to provide custom types or fallbacks. :+1:

This could take a time for me to solve that, since I think it's related to #81 about settings for alter the default jsf behavior.

Any suggestion for the option-name?

[2015-12-04 17:25] ducin commented on #83
@pateketrueke Honestly I don't see the relation between Vincenzo's error and #81. This task is about handling the "unknown schema type" error - we can, for example, throw new type of exception, a meaningful one.

And what would the custom setting override, I mean, what exact behavior?

[2015-12-04 18:06] pateketrueke commented on #83
Actually jsf will fail on unrecognized types: there is no support for extending what is built-in.

This behavior is not an exception, we could easily add some aliasing for fallback without throwing errors.

I thought both issues are related because jsf has no support for these options.

[2015-12-05 07:18] ducin commented on #83
Ok, so do you think of this option as a map of unsupported->supported types, e.g. Custom1 -> number, Custom2 -> string? Or a fallback function? In that case - what could it do? And what would the user benefit - would the schema execute anyway?

If we can't extend the built-in types, then a schema that contains Invalid types shall not be executed, I think. Invalid things should just fail - and a Sc

[2015-12-05 08:23] pateketrueke commented on #83
Well, **we can**... indeed both parts (generators/validators) may support them aswell, if you want to validate against a custom type the validator will fail and it's ok. If you provide the validation support for that type then everything works as expected.

Unrecognized keywords _may_ be treated as warnings, sometimes are just errors and jsf must understand that.

Looking at http://json-schema.org

[2015-12-09 09:01] igorshmukler commented on #83
Sorry. I could not figure out how to message maintainer. I used json-schema-faker and it seems that oneOf is broker instead doing "some or none" Of. i guess oneOf currently does anyOf, but I am not positive.
Let me know if I can be of assistance supplying a test, or something...

[2015-12-09 14:08] pateketrueke commented on #83
@igorshmukler I guess you're trying to open an [new issue](https://github.com/json-schema-faker/json-schema-faker/issues/new) right?

And yes, actually in jsf anyOf/oneOf are mostly equivalent, I didn't know that oneOf should mean "some or none" do you have a reference for that detail?

PS: please open a new issue, we continue the discussion there.

[2015-12-09 14:16] igorshmukler opened #84 "interpretation of oneOf"
Currently json-schema-faker interprets oneOf, much the same as anyOf. Intuitively, to me, oneOf implies one [and only one] item from the items list. While anyOf can be interpreted as some [none or more] and allOf would mean every item.
That's the way I understand these.

[2015-12-09 14:46] pateketrueke commented on #84
I understand... so, we trying to make jsf compliant with the JSON-Schema standards.

Did you say that anyOf means 'none or more' and you know where is defined that constraint or it's only your point of view?

[2015-12-09 14:58] pateketrueke commented on #84
Bye the way, I found this:

http://json-schema.org/latest/json-schema-validation.html#anchor85

http://json-schema.org/latest/json-schema-validation.html#anchor88

Both references are for validation, but I think applies for generators in order to produce valid values.

[2015-12-09 15:35] igorshmukler commented on #84
All for what you are saying. Also please excuse me, I have dealt with javascript occasionally until now.
IMHO, it could be useful to others. I would want to use any/one/all -Of, in a way similar to how required is used. To have a bit more flexibility in defining schema - generating records such:
basicAccount {"id": _id, "firstName": _firstName...}
then construct records such as employee and custom

[2015-12-09 16:12] pateketrueke commented on #84
Could you have a gist with the related schemas and json samples?

I'm trying to understand and some code would help a lot.

[2015-12-30 17:34] ducin commented on #71
Guess that one is outdated :)

[2015-12-30 17:34] #71 closed

[2016-01-07 15:16] ducin commented on #66
Hi @robjens! Sorry to reply so late. This post is not really an issue, it seems to be an instruction on what to do in order to achieve v3 support. I would like to include your work into the project.

First I was thinking of implementing it, but it's using some 3rd party tools and the problem seems to be an edge case. So I think we could just include it into the documentation (README.md file). But

[2016-01-11 13:23] ducin commented on #82
@pateketrueke could you please provide a little bit more descriptive information :)? Does it mean that `grunt spec` task fail randomly or what?

[2016-01-11 13:39] pateketrueke commented on #82
@ducin well, the grunt task is not failing per-se, just sometimes the faked values are not what the spec is expecting and the spec fails then... I don't know how test this edge cases, may be using some property-based testing?

Of course since jsf is using `faker.js` to generate its random numbers I'm not sure if this is our issue.

[2016-01-11 14:24] ducin commented on #63
@mike-engel sorry to uncover this so late. I did solve this issue in a jsf-based project, [grunt-jsonschema-faker](https://github.com/json-schema-faker/grunt-jsonschema-faker). The thing is that _json-schema-faker_ is just reading json schema and generating smaples for it with minimal schema extension compared to the standard. That's why we didn't decide to include neither custom attributes nor fu

[2016-01-11 14:49] ducin commented on #11
Damn, I really want to get back to this feature, since it's not *that* difficult and our mocks could be a lot better quality!

I took a look at [JSON Path](https://github.com/s3u/JSONPath) and I can see that it enables us to reference elements from root, not relatively. Can someone suggest a usecase of external relative parameters or an example?

[2016-01-11 16:44] mike-engel commented on #63
@ducin Thanks, it's been a while since I've looked at this issue. I'm currently not doing anything with json-schema-faker, but if there was a way to add extensions either with this project, or with faker/chance, that seems like it would work, as long as the previous value got passed in.

[2016-01-21 14:45] andrescardona opened #88 "If a custom format is defined may be useful to override default formats as well"
Hi,

Currently i see that a customer has some variations on basic data formats, like date-time they manage a slightly different format, so i can't override unless i add to the current schemas a faker or a chance attribute. Wouldn't be better to have it flexible so we can also override default behaviour?

Made a pull request with my suggestion :) https://github.com/json-schema-faker/json-schema-fak

[2016-01-21 14:50] ducin commented on #88
Hi @andrescardona! Thanks for your contribution. Could you please give any examples of the situation described?

[2016-01-21 15:07] andrescardona commented on #88
Yeah, currently for date-time, the client just want to have the following format 'yyyy-MM-dd HH:mm:ss:SSS' wich differs from the standard iso-xxxx one by the 'T' in the middle, now if i want to generate those, i would have to add to the current client schemas a faker or another property and the idea is to leave those schemas as they are :)

[2016-01-21 15:15] ducin commented on #88
Ok, maybe I didn't make myself clear enough :) I'd ask you to provide an example schema for described situation. I assume that it would behave in a different way in current jsf and in your modified version.

Sorry to bother you but it makes it a lot easier for us to handle any submissions (see CONTRIBUTING.ms) :)

[2016-01-21 15:16] pateketrueke commented on #88
Yeah, it sounds good but a well defined example would be better, even with tests/specs. ;)

[2016-01-21 15:20] pateketrueke commented on #88
Only a though: if you override the default `date-time` format then your json-schema will not be reusable for others since aren't following the standards. The "right way" would be defining a custom format for that, this way other tools that understand JSON-Schema will no bother you.

[2016-01-21 16:03] andrescardona commented on #88
Oh, ok the json schema is just as the standard
[code]
But, the Json mapper in the server has an specific date format, Of course i don-t want to promote like an specific case scenario as a general one, but i checked in validations libraries for example and the default format validation can be overwritten, I-m agree that the proper way to do this is to have a custom format in the schema, like my-dat

[2016-01-23 16:46] ducin opened #89 "Call for providers: JSF is looking for a free database provider"
Dear Community,

The `JSON-Schema-faker` team is extremely happy to notice the project becoming more and more popular! **Thank you all** both for the trust and for spreading the word :+1:!!!

We would like to provide easier access to what `jsf` offers and so **we are looking for a free database hosting** to support our project [demo page](http://json-schema-faker.js.org/). We would like jsf users

[2016-01-28 15:13] ducin opened #90 "include distribution files"
`jsf` might be successfully used in the browser, not only in Node.js.
This task is to include `dist/jsf.js` and `dist/jsf-min.js` into the repository for each new version.
Grunt needs to be extended with grunt-browserify.
@pateketrueke are you ok with that?

[2016-01-28 15:17] pateketrueke commented on #90
I think it's ok, are you planning publish both for bower and jspm?

[2016-01-28 15:21] ducin commented on #90
Originally I was thinking about cdnjs ;) it might be a little painful for the first time, https://github.com/cdnjs/cdnjs#important---no-more-manual-submissions, haven't done that auto-script. But I think cnd.js might be a good idea.

[2016-01-28 16:19] ducin commented on #90
@pateketrueke how do you think - is it better to name the file `jsf.js` or `json-schema-faker.js`?

[2016-01-28 16:36] pateketrueke commented on #90
Oh nice, cdnjs is a good starting point!

And I think that `jsf` is more an abbreviation, officially would be `json-schema-faker` for consistency.

[2016-01-28 16:51] ducin commented on #90
Released in `v0.2.7`.
A tiny problem is that the minified (or uglified, whatever...) version is not that smaller :( but I didn't manage to investigate why, I think I'm doing it correctly.

[2016-01-28 17:22] pateketrueke commented on #90
Seems like many modules like `Buffer` are being included as well, other issues are locales and such: as long I know are just browserify options (not sure if `off|on` are treated as real booleans).

It would be interesting if we can build as many languages faker/chance supports, e.g.

- json-schema-faker.es.js
- json-schema-faker.de.js
- json-schema-faker.en.js
- json-schema-faker.it.js

Related: #

[2016-01-28 17:29] ducin commented on #90
Damn... seems like the `grunt-parts` is not allowing me to include any other grunt on top level :( Can you [take a look at it](https://travis-ci.org/json-schema-faker/json-schema-faker/builds/105462572#L353)? Or maybe it's me who messed something...

[2016-01-28 17:41] ducin opened #91 "loading only specified dependencies"
I've got an idea for that. There was a long discussion in the #56 thread about magical options of browserify. But I think I've got another idea. I took a look at [faker.js' individual localization packages](https://github.com/Marak/faker.js#individual-localization-packages). It is a damn simple yet working concept, sounds a lot easier for me:
* by default, you've got the main [index.js file](https

[2016-01-28 17:48] ducin commented on #90
Let's continue the locales thing in #91.

And let's close this issue once the build is fixed. I'd be for creating a separate issue for reducing the build size.

[2016-01-28 18:28] pateketrueke commented on #90
Sure, let me checkout your branch, and btw I'm thinking on switch to npm-scripts for those tasks.

[2016-01-28 18:42] pateketrueke commented on #91
Te solution used on Faker.js is very clear, of course we can do the same.

About the template macro, we can do something like this?

[code]

This way the entry-point will export only what it needs because the `support` script would have an empty container, etc.

The resulting bundle would contain a localized faker and nothing else.

[2016-01-30 00:08] blikblum opened #92 "Hangs with circular references"
When i try the following schema:  https://gist.github.com/blikblum/5c90d02a99b3f3b9c017#file-data-schema-json [changed to avoid the circular reference, see comment below for example]

JSON Schema Faker becomes unresponsive, consuming all cpu time and is necessary to kill its process.

This occurs both with the online demo and using node 4.2.4

Tested with 0.2.8

[2016-01-30 11:03] blikblum commented on #92
The issue is caused by the circular reference of `track.variations.tracks -> track"`

The schema below is the minimal example that hangs
[code]

It leads to an infinite loop at
[code]
I acknowledge that this tool is not supposed to handle such case (I'm not sure if is a valid schema at all) the only thing that could be improved is detecting the circular reference and halts with a message

[2016-01-30 15:08] pateketrueke commented on #92
I think it's a valid schema, although a recursive one, let me see what can I do.

[2016-01-30 19:11] blikblum commented on #92
Syntax wide it can be a valid schema, but is impossible to have a value that matches this schema

track require variations which require tracks require track which require variations

[2016-02-01 22:49] ducin commented on #90
The cdnjs task is in progress since few days, I hope to have it finished soon: https://github.com/cdnjs/cdnjs/pull/6844

[2016-02-02 07:59] ducin commented on #90
:microphone: Woohoo! :trumpet: `jsf`:saxophone: has :musical_keyboard: finally :violin: arrived :guitar: to :bomb: cdnjs!!! :microphone:
https://www.cdnjs.com/libraries/json-schema-faker

[2016-02-03 21:19] pateketrueke commented on #69
Hi again, I've been working on fixing issues related with bundling, and I understand you issue now.

It's true that `json-schema-faker` use `faker` for a few helpers that aren't built-in.

In order to mitigate that we could try creating a wrapper for those basic stuff like `faker.random.number` and `faker.random.words`, then detect which support is already installed and use it.

Probably a edge ca

[2016-02-04 00:01] tauren opened #96 "Error thrown when schema has allOf within anyOf"
The following code throws an Error:

[code]

This produces the following error:

[code]

The problem is the logic that verifies `properties` exist if `required` exist:
https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/types/object.js#L17-L20

The `allOf` objects need to be merged before running that logic, which I thought this code is doing:
https://github.com/json-schema-fake

[2016-02-04 08:11] tauren commented on #92
Would love to see the fix for this get published to npm! What is the status (and purpose) of the `npm-scripts` branch? Will it get integrated into master sooner or later?

BTW, the following module appears to handle circular references. I'm not sure if it would help, but perhaps it could be used instead of `deref`?:
https://github.com/BigstickCarpet/json-schema-ref-parser/blob/master/docs/README.m

[2016-02-04 08:17] ducin opened #97 "extend json-schema-faker.js.org demo page with saving schemas permanently"
The idea is to provide a `save` button in the demo page that would store the schema somewhere - so that it would be accessible under a link. Somehow. One of the suggestions is to do a github application just as dabblet:
* http://dabblet.com/ - main page
* http://dabblet.com/gist/f465c500a8bda5505cd6 - created by me, saved as gist files
* https://gist.github.com/ducin/f465c500a8bda5505cd6 - raw fil

[2016-02-04 15:18] pateketrueke commented on #92
The npm-scripts PR should be merged asap (once I fix some coveralls issues we had) because has very improvements to dev/test/build tasks.

Yeah, we could use `json-schema-ref-parser` which looks awesome!, but since jsf has no async support it will take a bit more of time. :+1:

[2016-02-04 16:06] tauren commented on #92
@pateketrueke Sounds great! However, I've been trying to use the `npm-scripts` branch with a circular schema that has been dereferenced with `json-schema-ref-parser` and I'm getting an error in `clone-obj.js`:

[code]

This may be due to my shemas, as I'm not convinced the `id` and `$ref` properties are setup up correctly. I'm working on figuring that out.

Perhaps you could check `clone-obj.js` t

[2016-02-04 16:11] pateketrueke commented on #92
I've tested your schemas (from the gist) in the `npm-scripts` branch without `json-schema-ref-parser` and seems to be working:

[code]

(I's still considering to switch to `json-schema-ref-parser`)

[2016-02-04 17:29] #69 closed

[2016-02-04 17:29] #92 closed

[2016-02-04 17:38] pateketrueke opened #98 "Error: mixin issues with allOf (Missing required property: state)"
Still failing randomly, and since is related with #96 I think we must solve that asap!

[2016-02-04 18:00] #91 closed

[2016-02-04 18:00] #90 closed

[2016-02-04 20:43] tauren opened #99 "chance and faker in devDependencies?"
Shouldn't `chance` and `faker` be regular dependencies, not a devDependency?

I run `npm install` in my consuming app (which is dependent on `json-schema-faker@0.2.9`):

[code]

I then use `babeljs` to transpile my consuming app to ES5:

[code]

[2016-02-04 21:05] pateketrueke commented on #99
Yes and no.

First sorry for the missing docs about that (I'll update the README asap), but this was an issue: https://github.com/json-schema-faker/json-schema-faker/issues/69

Basically jsf SHOULD work without faker/chance until you use the faker/chance keywords, that's it.

Before 0.2.9 some basic generators was tied to faker's helpers.

This is a breaking change towards 0.3.0, sorry for that.

[2016-02-04 21:10] owencraig commented on #99
I think the bigger issue for this is that moving it to be optional is a breaking change and was slated as a patch. So anyone using a pathspec like ~0.2.0 or even ^0.0.1 expecting only bug fixes or feature is getting a breaking change.

I wonder if potentially making faker and chance a peerDependency would be more explicit and put it on a path to a full version bump

[2016-02-04 21:13] pateketrueke commented on #99
Totally agree, it was my mistake, I'll deprecate that version asap and release 0.2.10 right now!

[2016-02-04 21:22] heckj commented on #99
FWIW: this broke our downstream builds as well... (https://travis-ci.org/RackHD/on-http/builds/107051850). Appreciate you pushing out an update ASAP!

[2016-02-04 21:40] pateketrueke commented on #99
Released 0.2.10, sorry for that!

[2016-02-04 21:54] #99 closed

[2016-02-07 11:39] ducin opened #100 "non deterministic test fail: mixin issues with allOf (core/issues/issue-57.json) should get combined as expected"
Please see [this travis job](https://travis-ci.org/json-schema-faker/json-schema-faker/jobs/107562404) for reference.

[2016-02-07 11:45] ducin opened #101 "bower package containing too many files"
`json-schema-faker` is already registered in bower. It has [all important ignores set](https://github.com/json-schema-faker/json-schema-faker/blob/master/bower.json#L22-L30).However, when you `bower install json-schema-faker`, you get all content of our project, as below:

[code]

Dunno why is that. Maybe submitting a new version will use the `ignores`. Need to check that out.

[2016-02-07 16:08] pateketrueke commented on #101
The tricky part of Bower is that it will clone the repo (not sure if using the `--depth` flag) and the delete files matching ignore... plop!

[2016-02-13 10:37] ducin commented on #101
Hmm, I thought I did everything the correct way, when registering our bower package. And afterall it seems I did it correctly - the next version of bower `0.2.11` handles `ignores` correctly:

[code]

I think it just had to reload and that's all.

[2016-02-13 10:37] #101 closed

[2016-02-13 18:42] tauren opened #106 "Bug - generates occasional unexpected empty objects when using $ref"
I believe there is a bug in `json-schema-faker` that causes random invalid empty objects to be generated. The problem is inconsistent, with proper data being generated much of the time and invalid data on occasion. I think it may happen only when using `$ref` references, but have not done much testing without `$ref`.

The problem can be seen with [this schema in the json-schema-faker web app](http

[2016-02-13 20:07] pateketrueke commented on #106
Nice issue, let me see what can I do.

Thanks for your feedback!

[2016-02-14 19:31] johntimothybailey commented on #106
@pateketrueke Impacted by the same problem. Do you need/want any help this week on getting a resolution?

[2016-02-14 22:14] pateketrueke commented on #106
@johntimothybailey well, indeed yes, I'm no sure how solve this...

The key is here: https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/jsf.js#L17-L41

1. We assume the reference is unseen yet (L17)
2. The first time jsf see the reference will pick a value between 1-5 (L35)
3. Each time jsf see the same reference it will decrease its counter from `seen` (L38)
4. Once there are

[2016-02-24 15:44] nlochschmidt opened #111 "Generate deterministic results by providing a seed"
The use case that I am thinking about is that of a stateless mock server. The mock server could take some data from a request, e.g. some HTTP headers + query parameter + request body and calculate a seed. That seed would then be used for generating a json response using jsf. That way when calling the mock several times in the exact same way it would respond with the same result every time.

As far

[2016-02-24 17:27] ducin commented on #111
Hello @nlochschmidt, thanks for your thought. At a first shot I think this might be more related to https://github.com/json-schema-faker/json-schema-server project. We try to keep things separated, and so `jsf` is used only for generating the data, whereas a stub server shall be something more that might or might not rely on `jsf`.

Moreover, I think that this `some HTTP headers + query parameter

[2016-02-24 22:04] nlochschmidt commented on #111
First of all, thanks for making me aware that what I actually want to do is to stub and not mock a server. Also thanks for the pointer to [json-schema-server](https://github.com/json-schema-faker/json-schema-server). I will look into it.

Setting a seed in jsf manually would still be required to make this work in json-schema-server, right?

I am not so sure that RAML, Swagger, etc are the way to g

[2016-02-24 22:26] ducin commented on #111
Hmm, well, don't know what you mean by "internal" or "external" API. In my opinion RAML, swagger, etc. - indeed are a good way to stub an API, since whatever client (web, mobile) you develop, you communicate somehow anyway. Apart from generating docs, you also get client/server scaffolding, backend auto-tests and fake data servers... but they're not integrated with `jsf` yet :) As far as I see, In

[2016-02-25 06:34] nlochschmidt commented on #111
By internal API, I am referring to APIs provided from one (micro)service to another inside our application. Both consumer and provider of the API are completely under our control, so we decide when they go live, etc. In addition, most of the time the consumer specifies the API requirements and there maybe multiple consumers for the same API (see [consumer contract testing](http://martinfowler.com/

[2016-02-25 14:32] Joshsteverson commented on #106
I'm not sure if this is related, however I receive consistently inconsistent sample payloads. [See Example Here](http://json-schema-faker.js.org/#%7B%22title%22%3A%22WorkerLegalNameChangeEvent%22%2C%22type%22%3A%22object%22%2C%22description%22%3A%22An%20instance%20to%20capture%20the%20worker%20legal%20name%20change%20event%22%2C%22additionalProperties%22%3Afalse%2C%22properties%22%3A%7B%22events%2

[2016-02-25 14:55] pateketrueke commented on #111
If we can setup a seed over jsf and produce the same values many times, regardless of its application, sounds awesome. :beers:

Actually jsf doesn't make use of any `options` object, but there are related issues that can be solved by configuration, e.g. https://github.com/json-schema-faker/json-schema-faker/issues/81#issuecomment-159087484

As a missing feature I think it would help a lot, and sin

[2016-02-25 19:19] pateketrueke commented on #106
@Joshsteverson I think is related of course...

[2016-02-29 21:14] rcoy-v opened #113 "id property added to all generated objects"
This property is added to all generated objects using faker:

`"id": "http://json-schema.org/schema#"`

This also conflicts with any objects that have an actual `id` property, causing an error. Is there anyway to disable this? The only other mention of this functionality I can find is #7.

[2016-03-02 15:19] nikmartin opened #114 "Should faker generate required schema properties?"
I have a schema with several subschemas, each of which have required properties in the required:[] hash. Should json-schema-faker generate those? My tests show it doesn't outside of the randomly generated properties.

[2016-03-02 16:58] ducin commented on #114
hello @nikmartin. Could you start with providing an example schema and the results - the actual one and the expected one?

[2016-03-02 16:58] #114 closed

[2016-03-02 17:19] nikmartin commented on #114
In this schema: https://gist.github.com/nikmartin/b7cbcbe210a49545c00f
Schema item dAgency_AgencyServiceGroup is a required property of the parent schema. It is an array of objects, and each object is a schema which contains required elements dAgency_[05-08].  When generating a JSON document using this schema, the generated document is wildly random and doesn't contain many elements marked require

[2016-03-08 14:14] nandanrao commented on #106
I'm having this same issue with a large schema that re-uses the same subschema many times (in this case 3 times, but all in arrays, which end up with a random length, of course). I have not taken the time to understand what is happening in that section of code, will hopefully circle back to this and take an actual closer look, but changing seen[id] = random(1,5) to seen[id] = 4, or any higher numb

[2016-03-08 17:39] pateketrueke commented on #106
Well, then I think I'll try a simple solution for this: remove all "empty" values from the generated schemas.

So the next values will be dropped recursively:

- `{}`
- `[]`
- `null`

Other values like

[2016-03-08 19:31] pateketrueke commented on #113
Please share your json-schema to better understanding

[2016-03-08 19:36] rcoy-v commented on #113
This is a simple example using the online demo:

http://json-schema-faker.js.org/#%7B%22testProperty%22%3A%7B%22type%22%3A%22string%22%7D%7D

I would only expect `testProperty` to exist in the result object, but `id` exists as well.

[2016-03-08 20:07] pateketrueke commented on #113
Well, in fact this is not a valid json-schema:

[code]

Did you validate your schema before?

What result is you expecting from?

[2016-03-08 21:56] rcoy-v commented on #113
We are extracting schemas defined in a swagger spec, which is validated with a parser. So expected what was passed to faker was also good. It seems like the end object  we are providing to faker isn't exactly in a valid format. So it still returns an expected fake object, but with that special `id` property attached. If I properly fix the provided schema, the `id` property is not appended.

I thin

[2016-03-08 23:25] pateketrueke commented on #113
Interesting, I ran some tests and you're right: that schema is valid...

Actually the `id` is appended by `deref` in order to dereferencing sub-schemas according the spec.

I found this behavior strange and should be fixed, thanks!

[2016-03-09 06:05] pateketrueke commented on #113
After some time researching I found this: http://www.jsonschemavalidator.net/

Is very useful to understand what "valid schema" means because this:

**invalid-schema.json**

[code]

It's _valid_ but it cannot **validate** anything, e.g.

[code]

But this work as expected:

**valid-schema.json**

[code]

Of course `jsf` understood the given schema but the additional `id` is just a side-effect from

[2016-03-09 06:32] pateketrueke commented on #106
I got something:

[code]

@tauren @nandanrao @johntimothybailey could you try guys the same gist with your schemas?

[2016-03-09 14:11] rcoy-v commented on #113
That very well summarizes what was happening on our end.

We were unknowingly passing only part of a defined schema; what was getting to faker was something very similar to the **invalid-schema.json**. That is when the `id` property was getting added. We didn't notice this at first since faker was still returning to us what looked like a good object at first.

When I found this, I fixed it to pass

[2016-03-13 19:38] zanona opened #115 "Allow `x-faker` property in addition to `fake` to it can be validated as extension"
Hi guys, I am not sure if this has been discussed before but it would be really good to be able to simply use valid swagger definitions into faker for data generation.
The problem is that the property `faker` is not really a valid property, so it would then invalidate a swagger definition.

As a suggestion I would say it would be great to be able to keep the swagger definition valid whilst prepari

[2016-03-21 10:23] michalad opened #116 "Issue after auto upgrade faker dependency from 3.0.1 to 3.1.0"
Hi,

Today, I've noticed following issue:
Error: self.number is not a function in /properties/xxxId

For schema:
        "xxxId": {
            "type": "string",
            "faker": "random.uuid"
        },

After investigation, it turned out, it is because  faker was was auto updated from 3.0.1 to 3.1.0. (In your package.json its value is set to "faker": "^3.0.1" so it allows auto updates)

Coul

[2016-03-21 10:57] ducin commented on #116
@michalad thank you very much for your submission. Seems like this error might really happen and we should modify the versions to be either `~...` or even `=...`. I will investigate it ASAP.

[2016-03-21 11:00] ducin commented on #116
Confirmed, I get exactly the same:

[code]

[2016-03-21 17:34] ducin commented on #116
Dzięki @michalad :)
New version `0.2.13` has been released and solves the problem quickly. We'll carry on with providing support for `faker@3.0.1`, perhaps the API changed.

[2016-03-21 17:34] #116 closed

[2016-03-21 18:49] michalad commented on #116
Nie ma za co @ducin :)

Thanks for very quick solution for this issue. I'll try new version tomorrow :)

[2016-03-21 22:43] ducin opened #117 "provide support for faker.js 3.1.0 version"
After Marak has bumped up faker version from 3.0.1 to 3.1.0, json-schema-faker broke because of semver set to ^3.0.1. This has been changed to ~3.0.1 since (#116). Now the task is to provide the support for `faker@3.1.0`.

Try to install `json-schema-faker` where faker is `3.1.0` (the latest) and paste following code:
[code]

You'll get this error:
[code]

Actually, the exception thrown is not on

[2016-03-22 08:45] ducin commented on #117
Faker.js has changed the `random.uuid` implementation from:

[code]

to

[code]

and that;t the reason  for the break. Before, there was no `this`. Now, this is overwritten from jsf's `lib/string.js` file.

[2016-03-22 09:13] ducin opened #118 "travis-CI setup bug"
Check this build out: https://travis-ci.org/json-schema-faker/json-schema-faker/builds/117661075

On one hand, it's green and it's exit status is 0:

    Done. Your build exited with 0.

On the other, however, there's something significantly wrong with the tests being fired:

[code]

The same result for all versions of node.js. I'm afraid, none of our tests were fired since some time. @pateketruek

[2016-03-22 09:46] ducin commented on #117
Seems like theproblem is solved in `v0.2.15` in 1a9a7ffcdd875306fc83fa789f7f153a166b2a96

[2016-03-22 09:46] #117 closed

[2016-03-22 12:47] hellboy81 commented on #69
OK, at the moment I should install  both `chance` and `faker` dependencies in my own service to use it with `json-schema-faker`?

[2016-03-22 13:01] ducin commented on #69
which version of jsf are you using?

[2016-03-22 13:23] zanona commented on #88
I might be wrong but I don't see benefits while having built-in formats overriding custom ones.

[code]
Supposing I only want to emit internet emails based on a schema without having to change the definition itself. It should be quite a common use case where the email format is validated elsewhere and it's just not possible to change or add new attributes on the schema itself.

So:
[code]
Should c

[2016-03-22 14:24] hellboy81 commented on #69
The last one: `0.2.13`

[2016-03-22 14:30] hellboy81 opened #120 "[usage question] [fixture generation] [discussion] [test (anti)patterns] Sharing JSON schema between `SUT` and `spec`"
There is json-schema in *SUT* as **JSON** file (see `json-schema` library)
This schema is used to _validate_ user input
The same schema can be used to generate fake obejcts (using `json-schema-faker`)

Can I use this `json` file to generate input data for my tests?

- If yes: In this case we are avoiding duplication. Is it OK?
- If not:  the next  question
     -  is sharing between `SUT` and `spe

[2016-03-22 16:00] pateketrueke commented on #118
D:

[2016-03-22 16:41] pateketrueke commented on #118
I found the bug, I've fixed `develop` and push.

[2016-03-22 16:41] #118 closed

[2016-03-22 16:56] pateketrueke commented on #69
No, until `0.3.0` we will continue shipping `faker` and `chance` as `dependencies` in our `package.json` definition.

[2016-03-22 17:02] pateketrueke commented on #88
Please read our [CONTRIBUTING](https://github.com/json-schema-faker/json-schema-faker/blob/develop/CONTRIBUTING.md) guidelines. :beers:

[2016-03-22 17:05] pateketrueke commented on #120
I don't get it, could you provide some json/code to clarify?

[2016-03-22 17:12] pateketrueke commented on #115
Sounds good, implement such support shouldn't be difficult.

[2016-03-23 15:50] ducin opened #121 "migration to TypeScript"
@pateketrueke I've started the migration to TypeScript on develop branch. I'm currently unable to solve issues before I restructure the code and so I do TS - see `ts` directory. Keep in mind it's a work in progress. Currently, during the migration process, I'm keeping both ts and js sources - each file, when migrated to TS is used to generate JS code and JS code is working as it used to work befor

[2016-03-23 18:33] amarinelli opened #122 "[online-demo] Issue with some faker generators in "random" category"
http://marak.com/faker.js/#random

Some faker generators such as: **word, words, image, locale, alphaNumeric** produce an error in the console on the [demo site](http://json-schema-faker.js.org/).

Works as expected when testing locally as in the [example usage](https://github.com/json-schema-faker/json-schema-faker#example-usage).

The other generators in _random_ seem to work fine in online demo

[2016-03-24 05:05] pateketrueke commented on #122
Fixed!

http://json-schema-faker.js.org/#{%22type%22%3A%22object%22%2C%22properties%22%3A{%22other%22%3A{%22type%22%3A%22string%22%2C%22faker%22%3A%22random.locale%22}}%2C%22required%22%3A[%22other%22]}

[2016-03-24 13:25] amarinelli commented on #122
Perfect, thank you!

[2016-03-24 13:25] #122 closed

[2016-03-30 16:30] bitdivine commented on #81
Hello,

Thanks for what looks to be a promising library!  has there been any progress on requiredOnly?  I'm actually interested in `requiredOnly:false` as at the moment I'm getting the required properties and none other.  Happy to help if you are super-busy!

Regards, Max

[2016-03-30 16:33] bitdivine commented on #81
Demo showing that at the moment optional properties are not generated:  http://json-schema-faker.js.org/#%7B%22type%22%3A%22object%22%2C%22required%22%3A%5B%22pink%22%5D%2C%22properties%22%3A%7B%22pink%22%3A%7B%22type%22%3A%22integer%22%7D%2C%22blue%22%3A%7B%22type%22%3A%22integer%22%7D%7D%7D

[2016-03-30 16:44] pateketrueke commented on #81
Well, that's not implemented yet, and I think it will be very helpful... also I guess it must be refactored a bit because the solution is not clever.

I'm not super-busy, let me think about this.

Thanks for your feedback!

[2016-03-30 18:27] pateketrueke commented on #113
The rule of thumb here is: always use valid schemas.

Anonymous schemas are never normalized, so they will never work as expected.

[2016-03-30 18:27] #113 closed

[2016-03-31 14:47] bitdivine commented on #81
My workaround for now:  Add some of the optional elements to the required list.  I have it easy in that I don't have any pattern properties in this part of the code! :-)

    function requireSome(schema){
        if (schema.type === "object"){
                schema.required = uniq([].concat
                ( Object.keys(schema.properties).filter(()=>Math.random()<=0.8)
                , schema.re

[2016-04-01 11:46] be-codified opened #124 "Output a valid json"
Is there a way to output a valid json?
I am getting an array or object.

[2016-04-01 11:49] pateketrueke commented on #124
Using `JSON.stringify(jsf(schema))` doesn't works?

[2016-04-01 11:57] be-codified commented on #124
Great, working just fine. Thank you.

[2016-04-01 11:57] #124 closed

[2016-04-02 15:32] be-codified opened #125 "Combine strings"
Hi,

is there a way to combine generated strings?

Something like this:
[code]

[2016-04-02 18:01] ducin commented on #125
Do you mean that you'd like to have something like this:

[code]
? Or like this:
[code]
where firstName, lastName are raw generated pieces and fullName is just combined using them?

If not, please give more details on what you aim.

[2016-04-02 19:15] be-codified commented on #125
Thank you for reply, you are reading my mind.

[2016-04-02 20:43] ducin commented on #125
That's a big shame for us, since we've been thinking about this since quite a while, see #11. It's quite easy to do for simple objects, but it's complex for bigger objects (where you re-use nested values or siblings). So we prefer to support either all or nothing.

So I close this one in favor of #11. @be-codified would you like to help us in developing json-schema-faker :)? If so, please contact

[2016-04-02 20:43] #125 closed

[2016-04-02 20:53] ducin opened #126 "[critical] remove cyclical dependency"
We've got a cyclical dependency with [traverse.js](https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/util/traverse.js) that is causing following issues:
* node.js (as no other platform) can't handle cyclical dependencies in a normal way, so the code inside traverse.js is *hacked*:
  * instead of loading `var primitives = require('./primitives');` in the top-level, the promitiv

[2016-04-03 08:54] ducin commented on #126
Just to make the depedency task more precise, I [auto-generated a dependency graph](https://github.com/pahen/madge) for current jsf on develop:

![jsf](https://cloud.githubusercontent.com/assets/375027/14231611/5744b9d0-f98a-11e5-8d8e-85a34ef4f20c.png)

I know this auto-graph introduces some chaos, but anyway it shows that we do have much work to do here.

[2016-04-03 18:57] amarinelli opened #127 "Is boolean "likelihood" modifier for chance.js honoured?"
[Example](http://json-schema-faker.js.org/#%7B%22success%22%3A%7B%22type%22%3A%22boolean%22%2C%22chance%22%3A%7B%22bool%22%3A%7B%22likelihood%22%3A100%7D%7D%7D%7D) should always return `true` but seems to just return default of 50% split between true/false.

[2016-04-03 22:21] pateketrueke commented on #127
Did you test the same api for that chance method directly?

[2016-04-04 14:24] amarinelli commented on #127
Seems to work as expected directly with the chance api.

`chance.bool({likelihood: 100});` always returns `true` when tested in the console of [this](http://chancejs.com/#bool) page.

[2016-04-05 14:56] ducin commented on #126
@pateketrueke I have removed both cycles (traverse -> primitives -> object -> traverse, traverse -> primitives -> array -> traverse), see latest commit on develop. There is a problem with this hacky primitives import still though. A lot smaller one, but it's still there, omg.

[2016-04-05 15:20] pateketrueke commented on #126
Interesting...

[2016-04-05 15:20] ducin commented on #126
Ok, I solved this bitch as well. THere's just jsf.js to be mirgated and **we're ready to go**!

[2016-04-05 16:43] ducin commented on #126
The tests are now passing:

[code]

We've got 4 errors on our codebase during ts compilation:

[code]

[2016-04-05 16:56] pateketrueke commented on #126
I got the same errors on `npm run tsc` do you know what this happens?

[2016-04-05 16:59] ducin commented on #126
OK, pull develop now. Please paste the errors you get, I'll explain.

[2016-04-05 17:01] pateketrueke commented on #126
First one: `sh: ./build/tsc.sh: Permission denied`

[2016-04-05 17:02] pateketrueke commented on #126
Once a `chmod +x build/tsc.sh` I got this:

[code]

[2016-04-05 17:05] ducin commented on #126
so sorry for the wrong file permissions. Could you push the right ones? Thanks in advance.
And the other erros are the very last ones we currentl get (actually it's a huge success!), they mean that TypeScript is unable to determine what randexp and what deref is. I don't know for 100%, but probably we need to ship a `.d.ts` file (definitions file) so that typescript is able to integrate external c

[2016-04-05 17:06] ducin commented on #126
Anyway, we're damn very close to shipping TypeScript jsf :)
I sent tweets to @basarat who is a friendly TypeScript ninja :) hope he'd suggest us a good way to package jsf.

[2016-04-06 08:33] arjanvanderleden opened #128 "Extending faker throws exception "value.key.split is not a function""
with schema fragment:

[code]

where the extension is configured by :

[code]
jsf throws and exception with message:
"value.key.split is not a function in /properties/projects/items/0/properties/visuals/items/0/properties/name"
The issue comes from types/string.js (line 62)

[code]

since value.key is not a string but an object.
Replacing
`var fakerModuleName = value.key.split('.')[0];`
with
`var

[2016-04-06 10:35] arjanvanderleden commented on #92
This does not work well with schemas like the one below. Would a maximal traversal depth not work better?

Test schema:
[code]

resulting in:

[code]

[2016-04-06 12:08] arjanvanderleden commented on #92
this would be my suggestion
replacing in jsf.js (line 19):

[code]

with:

[code]
and in line 58 in jsf.js replacing
	`sub[prop] = reduce(sub[prop]);`
with
	`sub[prop] = reduce(sub[prop],maxReduceDepth);`

that works for schema's like :

[code]

[2016-04-06 12:47] ducin commented on #92
@arjanvanderleden thanks for this suggestion, we'll try to analyse it shortly. Would you create a PR with your suggestion? It'd be fired in CI/tests and it'sll be easier for us to maintain.

Thanks in advance!

[2016-04-06 13:11] arjanvanderleden commented on #92
I have created a PR and also one for the “value.key.split is not a function” exception, if you’d like to merge that as well.
Thanks for your efforts, I think JSF is a great help en will speed up my UI development a lot.
Arjan

From: Tomasz Ducin [mailto:notifications@github.com]
Sent: Wednesday, 6 April, 2016 14:48
To: json-schema-faker/json-schema-faker <json-schema-faker@noreply.github.com>
Cc:

[2016-04-06 20:39] ducin opened #131 "2 tests failing undeterministically"
[code]

They fail randomly. @pateketrueke do you know what is causing this behavior?

[2016-04-06 22:17] ducin commented on #128
this one is to be closed, right?

[2016-04-06 22:23] ducin commented on #127
@amarinelli you're perfectly right, I confirm it is a bug.
Actually, our library is being currently migrated into typescript with heavy refactoring (see `develop` branch). Good news is that this bug is fixed in `develop`, I just checked that :) I got
[code]
15 out of 15 times for your schema. So I consider it fixed (check the branch for yourself).

If there's no fire, we'd release the typescript-b

[2016-04-06 22:25] arjanvanderleden commented on #128
Yes, it's closed

[2016-04-06 22:25] #128 closed

[2016-04-06 22:25] ducin commented on #127
btw the original problem was that `boolean` was taken into account in the first step and it didn't try to execute chance.js at all. Now the order/priority of attributes is slightly different.

[2016-04-06 22:28] ducin commented on #120
@hellboy81could you please give some more details? I read that 5 times and I can't understand what you mean...

[2016-04-06 22:31] ducin commented on #82
I must say I haven't seen this spec failing through entire process of typescript migration. I consider it as a *won't fix*...

[2016-04-06 22:34] ducin commented on #81
After we're done with TS migration, [the outer JSF API](https://github.com/json-schema-faker/json-schema-faker/blob/9bcff00e0ba2ffba080914275598a04f3cc6b9bf/ts/index.d.ts#L50-L54) would need to get updated:

[code]

with whatever jsf api we come up with. This interface states what end users might do with imported node jsf module.

[2016-04-06 22:37] ducin commented on #63
@pateketrueke do you think this should be part of jsf itself - or any tool based upon it?

[2016-04-07 05:12] amarinelli commented on #127
Perfect! Thanks for your testing and explanation @ducin.

[2016-04-07 16:34] ducin commented on #127
@amarinelli please download new version 0.3 and try your schema - it should return `true` always. The demo page might need some delay because of CDN.js lags on auto-trigger-update

[2016-04-07 16:38] ducin opened #132 "automatic testing generated values"
@pateketrueke is it possible to add spec tests that would not only check if the generator finishes successfully, but also checks the value? The #127 issue requires that
[code]
will always produce `true`. Can we add such test now or do we have to extend the specs to support?

This generator has always worked, but sometimes it randomly returned invalid values, and it shouldn't. I think we'l have mor

[2016-04-07 16:38] #126 closed

[2016-04-07 16:38] #121 closed

[2016-04-07 16:43] pateketrueke commented on #132
Sure, if you add a `equal` property to the spec, the given object must match for `toEqual()` against the generated sample. ;)

[2016-04-07 16:55] ducin commented on #132
Ok, added in e29a5e2

[2016-04-07 16:55] #132 closed

[2016-04-07 16:56] ducin commented on #127
Ok, I consider this one as done. A new test case has been added for your case: e29a5e2.
PS @amarinelli we're looking for developers joining our team. Would you like to make jsf more awesome ;)?

[2016-04-07 16:56] #127 closed

[2016-04-07 17:02] ducin commented on #115
@zanona how about [`chance`](http://chancejs.com), `x-chance`? We want to support both the same way.

[2016-04-07 17:05] pateketrueke commented on #115
I guess yeah, consistency please. ;)

[2016-04-07 17:07] #76 closed

[2016-04-07 17:14] ducin commented on #131
It's crazy, I get it all the time ;)

![image](https://cloud.githubusercontent.com/assets/375027/14360058/ccbdaeca-fcf4-11e5-846a-e6d77726fc27.png)

[code]

[code]

Need to manually restart the tests in travis very often, although the code is fine.

[2016-04-07 17:29] ducin commented on #88
note that since `v0.3` the API changed in just one place: from `jsf.formats` to `jsf.format`

[2016-04-07 20:00] ducin commented on #115
@zanona could you please reference the exact part of swagger documentation that states that `x-faker` (or something like this) conforms to swagger spec? And which version of swagger is that compatible with? When introducing it, we need to cover it in jsf docs so that other people might use it and we need details.

[2016-04-07 20:32] ducin opened #133 "dist directory size, git slowing down and becoming sluggish"
@pateketrueke we made a mistake.

![image](https://cloud.githubusercontent.com/assets/375027/14365592/f05ff562-fd0e-11e5-82b6-a4765fe2c710.png)

The lines of code added and removed are greatly increased because of the dist products which are kept in our repo. We wanted to provide single-language faker builds, generically for npm, bower, cdn.js etc. - and that is very cool - but it's too heavy.

I

[2016-04-07 20:36] pateketrueke commented on #133
Regardless the repo size we can mark those dist files as binaries?

I think the slow thing is only about how git works with source files, I mean, that not happens with tons of images for say something?

I'm not sure if that can be a solution, otherwise we can try an alternative repository.

[2016-04-07 20:43] ducin commented on #133
I'm not sure if marking js files as binary is a good approach, dunno. I got no fucking idea how bower is gonna serve such files, when someone fires `bower install json-schema-faker`. Woudln't it break anything?

My local repository weights almost 400MB :( that is way too much. It's gonna weight a lot more if we release often (and I guess we would like to). Binaries wouldn't change anything here I

[2016-04-07 21:07] zanona commented on #115
@ducin there you go man :) thanks for your help.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#vendorExtensions

[2016-04-07 21:12] ducin commented on #115
@zanona so it's only swagger 2 (aka *OpenAPI Specification*). Swagger 1 - no?

[2016-04-07 22:50] zanona commented on #115
@ducin yes, I trust you are correct. I've started using swagger on version 2 but from checking the documentation on 1.2 I can see it's not mentioned.

[2016-04-11 11:29] charypar opened #134 "Allow extending for arbitrary keywords"
Rather than opening a PR out of the blue, I thought I'd ask first:

In our project, we use `json-schema-faker` to generate fake data according to a schema, however, because the data are used as React component props, we have some extensions in the schema itself for objects that are not strictly JSON.
In order to extend the basic JSON schema, because extending with custom `type` [is against the spe

[2016-04-11 14:47] pateketrueke commented on #134
Do you have some JSON examples so far?

[2016-04-11 15:20] charypar commented on #134
For the schema or data? Not sure what you're after, sorry.

Currently, we've worked around it defining the function and element nodes like this:

[code]

[2016-04-11 15:27] pateketrueke commented on #134
I'd mean, you want to produce some object using json-schema right?

You can't use `isSomething: true` as is, you must wrap it into a valid schema:

[code]

I don't like the idea of doing non-standar stuff...

[2016-04-11 15:45] charypar commented on #134
In case of a `function` I want to produce an actual function. Which I understand is not a valid JSON object, but it would be really useful to be able to describe it.

As fare as schema example, one would be:

[code]

Does that make sense?

[2016-04-11 15:47] charypar commented on #134
I suppose the use-case I'm after is not a particularly canonical one, but I suppose a different example where this could be useful is something like:

[code]

[2016-04-11 15:49] pateketrueke commented on #134
I'm still confused about isPrime, isFunction, isElement properties, do you want `jsf` understand those?

[2016-04-11 15:53] charypar commented on #134
I don't want it to understand them, but I would like to be able to extend `jsf` (using `jsf.extend`) to understand them in a similar way it's possible to currently extend `faker` and `chance`.

In fact it would be useful in order to eventually get rid of those optional dependencies altogether, because you could just use them like any other custom data generator.

[2016-04-11 16:02] charypar commented on #134
I imagine using the the extend API after the change would look something like this:

[code]

Very roughly...

[2016-04-11 16:14] pateketrueke commented on #134
I got it, but IMO stuff like `isPrime` is already covered by json-schema, but I understand that functions aren't even JSON...

As long as I know, other JSON-Schema validators can be extended to validate custom types but not custom properties, I guess `{ "type": "function" }` is more clear and standard.

What do you think?

[2016-04-11 16:20] charypar commented on #134
Well, we tried suggesting that extension to `ajv` [here](https://github.com/epoberezkin/ajv/issues/147), they pointed out that we should do it via keywords. In any case, `jsf` doesn't support type extensions either (plus semantically `prime` type would still be a `{ type: 'number' }`).

For the `isPrime` case, instead of targeting the `isPrime` keyword itself, in the current state of `jsf` you'd n

[2016-04-12 17:21] ducin commented on #82
Ok, so I've used the spec json schema, created a simple test file and ran it inside a 1..100 loop and the result states that the error is not here anymore. I guess the migration might have solved the bug:

[code]
Closing that one.

[2016-04-12 17:21] #82 closed

[2016-04-12 17:44] #120 closed

[2016-04-12 17:44] ducin commented on #120
@hellboy81 if you wish to clarify this one, please do so. Otherwise, it's closed, we can do nothing with it right now...

[2016-04-12 18:21] ducin opened #135 "chance & faker at the same time"
Let's say I mistakenly pass both chance and faker definitions:
[code]
Currently, chance is taken as the first one. Don't ask. I'd throw an exception in that case. @pateketrueke hat do you think? I'd also add a new spec for that (to expect an error).

[2016-04-12 18:25] pateketrueke commented on #135
I think that both generators in the same definition has no sense, you're right.

[2016-04-13 14:10] ducin commented on #83
sorry for the delay, @XVincentX, going back to the topic. By that time we've migrated our source from JavaScript into TypeScript and now it's easier to reason about the code and to find the bugs, extend, etc :)

Going back to what you initially suggested. As far as I understand it *now*, you'd like to pass an option to jsf stating whether it should or should not fail when an invalid type is being

[2016-04-13 17:08] DanielJoyce commented on #133
Github lets you upload and host artifacts outside your repo. You should not be checking in build artifacts, ever.

[2016-04-13 19:42] #135 closed

[2016-04-13 19:48] ducin commented on #133
@DanielJoyce we support [bower](http://bower.io, which relies heavily on git. Currently we've been just pushing our product files into a commit, created an annotated tag - and bower used it for its versioning. We also support cdn.js, which uses a node.js post release hook.

I want to [entirely remove the dist directory from the git history](http://stackoverflow.com/a/17824718/769384) to make the r

[2016-04-13 19:51] ducin commented on #131
`mixin issues with allOf (core/issues/issue-57.json) should get combined as expected` might still be randomly failing, need to check that.

[2016-04-13 20:01] ducin commented on #131
@pateketrueke I'l help you. Keep clicking until generate on [this one](http://json-schema-faker.js.org/#%7B%22definitions%22%3A%7B%22address%22%3A%7B%22type%22%3A%22object%22%2C%22properties%22%3A%7B%22street_address%22%3A%7B%22type%22%3A%22string%22%7D%2C%22city%22%3A%7B%22type%22%3A%22string%22%7D%2C%22state%22%3A%7B%22type%22%3A%22string%22%7D%7D%2C%22required%22%3A%5B%22street_address%22%2C%22

[2016-04-13 20:05] ducin commented on #100
I'm closing this one since it's a duplicate of #131.

[2016-04-13 20:05] #100 closed

[2016-04-13 20:08] ducin commented on #115
@pateketrueke @zanona
So we want [such `x-faker` example](http://json-schema-faker.js.org/#%7B%22type%22%3A%22object%22%2C%22properties%22%3A%7B%22name%22%3A%7B%22type%22%3A%22string%22%2C%22x-faker%22%3A%22name.findName%22%7D%2C%22email%22%3A%7B%22type%22%3A%22string%22%2C%22x-faker%22%3A%22internet.email%22%7D%7D%2C%22required%22%3A%5B%22name%22%2C%22email%22%5D%7D) and [such `x-chance` example]

[2016-04-13 20:15] pateketrueke commented on #115
I understood that: `x-prefixed` properties are soft properties that swagger can ignore without warnings, otherwise it will fail because `faker` and `chance` are unknown properties. I'm right?

By just treating `x-generator` as `generator` within `jsf` would solve this issue...

[2016-04-13 20:35] XVincentX commented on #83
Exactly. Actually I am solving the problem with a `try/catch` block (see here https://github.com/apiaryio/refract-message-body-generator/pull/5/commits/a49f275fdaa58bebeb3cb3f07400d998d9607dc9), but I would love to pass a flag and avoid that.

[2016-04-13 20:38] ducin commented on #83
fuck no! Apiary is using json-schema-faker? Can we state that officially as our business success usecase :heart_eyes: :question:

[2016-04-13 20:51] XVincentX commented on #83
That's an unusual request! Let me escalate the thing, but I do not see any blocking issue here! 👍

[2016-04-13 22:00] #115 closed

[2016-04-13 22:04] ducin commented on #115
Will get onboard with the upcoming release :) as for now @zanona, please glone `master` branch and see if it satisfies you. I think it does exactly what you intentioned.

[2016-04-14 08:26] zanona commented on #115
@ducin @pateketrueke Thanks a lot guys, that's great.
@pateketrueke mention was correct in regards swagger warning about properties without the `x-` prefix.

[2016-04-15 17:50] ducin commented on #83
@pateketrueke blocker on my way :( it's not difficult to add the funcionality, but I want everything to be covered with tests. And now, each schema is validated against `z-schema`. And this validator doesn't allow any non existent types and it simply fails and I got no idea how to make the inner test validation pass... don't want to do ugly hacks

[2016-04-15 18:25] ducin commented on #83
Found a temporary overcome. The `"valid": <boolean>` in each test spec states whether `z-schema` shall be fired against such unit. So in this case it's not (valid: false). I'm positively surprised myself, but it does the job :)

when having (we have this actually):
[code]
the tests pass with no error (since the new flag for @XVincentX is turned off) and z-schema is silent because it's not fired. B

[2016-04-15 18:37] #83 closed

[2016-04-15 18:39] ducin commented on #83
Following code:
[code]
results with:
[code]
whereas following:
[code]
results with:
[code]

[2016-04-15 18:43] ducin commented on #83
`0.3.1` has been released. @XVincentX please try it out and give feedback.

[2016-04-15 18:44] ducin commented on #115
0.3.1 has been released. @zanona please try it out and give feedback.

[2016-04-15 18:49] zanona commented on #115
@ducin thanks a lot! Is it already live at  [http://json-schema-faker.js.org](http://json-schema-faker.js.org/#%7B%22type%22%3A%22string%22%2C%22x-faker%22%3A%22address.streetAddress%22%7D)

I've tried there but couldn't make it work?

[2016-04-15 18:51] ducin commented on #115
nope, the demo page goes through cdn.js which relies on some kind of npm triggers, it might take a while. But please try to `npm install json-schema-faker` locally and test the behavior.

[2016-04-15 19:31] ducin opened #137 "[design] Unit Tests"
We are missing unit tests.

@pateketrueke Im aware you like CoffeeScript. However, I'd like to convince you to write unit tests in pure JavaScript. The reasons are:
- I've got very bad experience with it (I had to cancel one project and to rewrite it) and it's high chance I'd not get involved in writing unit tests it they're written in coffee, I just dislike it very much ;)
- no need for TS in tes

[2016-04-15 20:05] zanona commented on #115
awesome! [tried and tested](https://tonicdev.com/zanona/57114781c79f42110025d056) guys!! looks great! Thanks a lot :100:

[2016-04-18 10:59] charypar commented on #134
@pateketrueke What do you think? Are you interested enough for me to open a PR?

[2016-04-18 19:54] arjanvanderleden commented on #137
Still on vacation, but a quick answer to start with: I agree with @ducin on writing unit tests in js,  the entry level for contributors is not a big issue though imho,  since typescript will be part of our ecosystem anyway. More important will be the framework and library. At work we'll be making a similar choice one of these days. I'll probe my colleague for arguments in choosing a framework and

[2016-04-18 20:54] ducin commented on #137
@arjanvanderleden thanks :)
As for the framework, I'd opt for jasmine. It's tdd-bdd style is fair enough for unit tests.

[2016-04-18 21:13] pateketrueke commented on #137
:+1:

[2016-04-19 19:28] ducin commented on #137
OK, so we shall go with `jasmine-node`. It will be included as a new phase of `npm test` in package.json.

[2016-04-19 20:36] ducin commented on #137
See `master` branch and run `npm run dev:unit` to see unit tests happen :-) it's just a beginning ;)

[2016-04-19 20:46] pateketrueke commented on #137
Awesome!

[2016-04-20 13:11] lzrski commented on #77
Hello. Thanks for json-schema-faker. I use it for simple property based testing and it works like a charm most of the times.

One of the times when it doesn't is with multiple patternProperties. Consider this (coffeescript):

[code]

The output is:

[code]

As you can see only the first property is correctly generated. Rest are empty objects.

I've also noticed that first property always has much

[2016-04-20 14:31] ducin commented on #77
Cześć @lzrski :) I will take a look at this. Can't guarantee when, but I'll try to do that soon. Seems like it's a one-liner minor issue, hopefully ;)

[2016-04-20 14:33] ducin commented on #77
btw, @lzrski could you create a separate issue for that? I think it's different than @hellboy81 asked. Your issue is just a clear bug.

[2016-04-20 15:01] lzrski opened #139 "Wrong output for object type with patternProperties"
Extracting this from #77

Consider this JSON Schema document:

[code]

The output is:

[code]

As you can see only the first property is correctly generated. Rest are empty objects.

I've also noticed that first property always has much longer and more complicated name.

[2016-04-20 15:08] pateketrueke commented on #139
Interesting issue, we need to improve our object-generator to solve that, let me see what can I do.

Thanks for your feedback!

[2016-04-20 15:23] ducin commented on #139
[demo](http://json-schema-faker.js.org/#%7B%22type%22%3A%22object%22%2C%22minProperties%22%3A1%2C%22maxProperties%22%3A20%2C%22patternProperties%22%3A%7B%22.*%22%3A%7B%22type%22%3A%22string%22%7D%7D%7D)

[2016-04-20 15:40] lzrski commented on #139
I've read a little through the source and it seems that the logic in `ts/types/objects.ts` could be improved.

It's a tricky business, because there are at least four properties that combined should affect the output. Take a look at spec: http://json-schema.org/latest/json-schema-validation.html#anchor64, esp. the algorithms explained in sections 5.4.4.4. and 8.3.3. Below are some thoughts I had w

[2016-04-20 15:44] ducin commented on #139
I was also reading the sources and I have a feeling that most of the object logic might need to be modified. The `optProps`, according to @lzrski 's example, has only one element `.*`. The length it randomized, let's say, 15. So the rest (`length - current` elements) get randexp'ed:
[code]

This part has to change for sure. The problem here is, however, that I don't clearly understand what do inne

[2016-04-20 15:45] ducin commented on #139
@lzrski I think it'd be cool if you could contribute with a PR here :) right, @pateketrueke?

[2016-04-20 15:45] pateketrueke commented on #139
@lzrski I you want to tackle this go ahead!

[2016-04-20 15:48] lzrski commented on #139
I'll be happy to give it a try on the weekend.

If the #57 is solved indeed then overlapping patterns may not be such a problem. We would have to combine all matching `patternProperties` and generate value for that combined schema.

[2016-04-20 17:34] ducin opened #140 "number: min, max multipleOf combinations"
I've found some crazy sombinations. Note that minimum is bigger than maximum.

[code]
gives: 700, 686, 1043, 812, crazy. But if I remove `multipleOf`:
[code]
gives: null.

[2016-04-20 17:51] ducin commented on #140
The question is: should
[code]
return null or throw an error? Does it make sense to call run schema? @pateketrueke?

[2016-04-20 18:19] pateketrueke commented on #140
Hmmm, interesting...

That's the reason behind of "using valid schemas" as input.

Otherwise, and eventually (I guess) `jsf` will be a json-schema validator itself.

The main question is: validate or not?

Of course we can't generate valid values if its constraints are bad and we must warn about that, or just ignore invalid types, whatever.

[2016-04-20 21:05] ducin opened #141 "chance.first not working"
[code]
expected to return `Hans` or `Wolfgang`. And it crashes with: `Uncaught Error: Cannot read property 'length' of undefined in /`.

[Chance.first docs](http://chancejs.com/#first).

[2016-04-20 21:07] ducin commented on #141
Damn, found that too late...

No `Hans` and no `Wolfgang`... `Francesco` instead.

[2016-04-20 21:07] #141 closed

[2016-04-20 21:24] ducin commented on #14
I created more examples and pushed them into the demo page.

Moreover, I have refactored the demo page a little bit, it's lot less shitty now :) @pateketrueke I know you wanted to rewrite it to react - feel free to do so :) But please reuse my `browserify`/`require-globify` solution there. Put simply, it loads all json files in `schema` dir and makes them available using a function - you don't hav

[2016-04-20 21:25] ducin commented on #14
Since I added some more examples... and this issue was opened for too long, I'm closing it. If anyone feels like adding new examples, feel free to open another issue and/or add new example - now it's easier.

[2016-04-20 21:25] #14 closed

[2016-04-21 09:33] guillemcanal commented on #139
I'll try to have a look at it on a rainy day ;)

[2016-04-22 09:35] JonathanMontane opened #142 "number: exclusiveMaximum ignores part of the generation space"
It seems that exclusiveMaximum shaves off a full integer even when used with a `number` type instead of an `integer`. For instance:

[code]

will only produce numbers in `[ 0, 1 ]` instead of `[ 0, 2 [`

[code]

will only output `0` instead of `[ 0, 1 [`

[link to jsf test url](http://json-schema-faker.js.org/#%7B%22type%22%3A%22number%22%2C%22minimum%22%3A0%2C%22maximum%22%3A2%2C%22exclusiveMaxim

[2016-04-22 09:51] pateketrueke commented on #142
Reference: http://json-schema.org/latest/json-schema-validation.html#anchor17

[2016-04-22 10:12] JonathanMontane commented on #142
Consider the following schema:
[code]

It has a valid space of `[ 1, 1.5 [` but will return `null`. The generator fails to generate a valid value, despite having a valid space as an input.

[2016-04-22 10:41] pateketrueke commented on #142
Taking into account the constraint for schema validators (applies the same for generators) if you rest `1.5 - 1` gives you `0.5` which produce an invalid range: 1 to 0.5

I consider that to be wrong but not warnings are thrown yet, see: #140 (discussion is open in order to take appropiate actions to mitigate common mistakes)

Back to your main issue: you found a bug!

[code]

After simple math hap

[2016-04-22 10:54] pateketrueke commented on #139
_¡Changos!_ :monkey:

[2016-04-22 11:36] pateketrueke commented on #140
With #144 both will produce `NaN` (can be an exception?)

[2016-04-22 11:41] JonathanMontane commented on #142
in `lib/types/number.js`
[code]

should probably be changed to:

[code]

[2016-04-22 11:46] JonathanMontane commented on #142
`integer.js` should also be updated to better manage `multipleOf`, and `exclusive(Max|Min)imum`, but it shouldn't be too hard

[2016-04-22 12:02] pateketrueke commented on #142
Indeed `integer.js` reuse the `number.js` module for support that.

BTW; I've updated #144 with a more simple solution, can review it?

[2016-04-22 12:05] JonathanMontane commented on #142
Be careful, I've updated the code quite a few times now (fixed a few bugs)

[2016-04-22 12:08] pateketrueke commented on #142
My bad, I've never commited the built files (from ./ts to ./lib) and CI (and probably you) was running the older ones...

Now the PR is fully updated and seems to be working!

[2016-04-24 14:32] ducin opened #145 "jsf server application"
Dear All,

I gathered authors of three libraries here:
* [`raml-server`](https://github.com/farolfo/raml-server/): @farolfo, @Jastrzebowski
* [`raml-mocker`](https://github.com/repocho/raml-mocker/): @repocho, @biggestT
* [`json-schema-faker`](https://github.com/json-schema-faker/json-schema-faker): @pateketrueke and me, @ducin
and @galk-in who works with RAML and might also be interested in this

[2016-04-24 14:56] pateketrueke commented on #145
Also: https://github.com/gextech/raml-mockup

[2016-04-24 15:02] ducin commented on #145
Forgot about that one. Seems like it does some of the stuff that `raml-server` does... Anyway, I'd suggest to reduce the repetition, integrate our tools and conquer swagger! :beers:

[2016-04-24 21:17] Jastrzebowski commented on #145
@ducin great idea! As for now I use both **raml-mockup** as API generator and **json-schema-faker** in components tests, would be great to have one tool for both cases :)

[2016-04-24 21:35] repocho commented on #145
@ducin Yes ! I' willing to collaborate putting all of this in one common component. I don't have much time right now but I will do my best.

[2016-04-25 02:27] farolfo commented on #145
@ducin I'm on board! Let's unite forces to make something bigger ;)

[2016-04-25 05:46] galk-in commented on #145
Hello. Let's share wish-list about the mock-project.
I'm using the mock for end-2-end testing. So repeatability is important:
1) Persistant in memory.
2) Possibility to restart the mock with same initial data.
3) [jsonpatch](http://jsonpatch.com)

[2016-04-26 13:09] lzrski commented on #139
Something came up and I couldn't get to it this weekend. Sorry.

[2016-04-28 20:13] amarinelli commented on #127
Not sure I have what it takes...but I will keep submitting feedback as I continue to use your tool. Thanks again!

[2016-04-29 16:57] #97 closed

[2016-04-29 16:59] #41 closed

[2016-04-29 17:00] #34 closed

[2016-04-29 17:02] ducin commented on #22
This might be done with #97, closing.

[2016-04-29 17:02] #22 closed

[2016-04-29 18:42] ducin commented on #137
I have added tslint (linting typescript sources, `master` branch). It will silightly take over eslint (we're not gonna lint the js output). At some point we'd remove js from this repo and keep the sources only - then we might remove eslint at all, but we're not there yet.

[2016-04-29 18:42] #137 closed

[2016-04-29 18:53] ducin commented on #142
Hi guys! WHat is the status of this - anything to be merged into `master`?

BTW currently we've got both TS sources and JS output. That's crappy, yet, it's only a temporary solution. When either of us have time, we'll remove JS output from the repo.

[2016-05-02 23:19] bitantics opened #148 "Chance and Faker are always require()'ed by Webpack"
Hey!

I've found there's undesired behavior when consuming json-schema-faker through Webpack and perhaps other bundlers or compilers.

#### What I expect
Faker/Chance to not be bundled into my app if I'm not using any functions from Faker/Chance.

#### What I get
Faker/Chance is included into my bundle, bloating the size and, in Faker's position, breaking the bundle's sourcemaps.

#### Solutions
A

[2016-05-04 21:58] tnrich opened #150 "Json schema failing to be generated"
Hey there, this json schema is failing to generate for me.

It does work for validation purposes when used with ajv.

Any help figuring out why it is failing would be greatly appreciated.

Thanks!

1. the JSON Schema content that fails -
[code]

2. the result you get
[code]
3. the result you expected

Some generated json.

[2016-05-04 22:11] ducin commented on #150
@tnrich thanks!
I confirm the problem exists. Fast research led me to this:
![image](https://cloud.githubusercontent.com/assets/375027/15030958/a407a712-1255-11e6-8ec6-bb5fb38df45c.png)

[code]

@pateketrueke is it `jsf`, `deref` or `refaker`?

[2016-05-04 22:29] pateketrueke commented on #150
Seems like `deref` can't perform any normalization on the given schema... I'll need to analise this, thanks for the feedback.

[2016-05-05 03:13] #150 closed

[2016-05-05 05:27] tnrich commented on #150
Awesome I'll try it out again, did the npm module get updated as well?
On May 4, 2016 8:13 PM, "Alvaro Cabrera Durán" <notifications@github.com>
wrote:

[2016-05-05 05:32] pateketrueke commented on #148
Try requiring `json-schema-faker/lib` instead.

[2016-05-05 05:33] pateketrueke commented on #150
Sure thing. :beers:

[2016-05-05 18:58] bitantics commented on #148
Awesome, that worked, thanks!

The full snippet to use jsf with Chance, but not Faker, is:

[code]

[2016-05-05 18:58] #148 closed

[2016-05-09 20:33] ducin commented on #145
Gentlemen,

I'm very happy that you *all* responded positive to my initiative :) Nobody refused, everybody's in, perfect :grinning:
I'm sorry for the long reply, but I had my laptop motherboard burnt and later I was ill, just recovering but I've been thinking intensively about all this. Below are my thoughts. I'm very excited and I hope we'll start something amazing together :)

Please keep in min

[2016-05-10 05:37] galk-in commented on #145
RAML describe only interface of the REST API, but we need some logic for making a valuable mock.
In abao we have hooks, where you can very easy set some logic for requests. I think we should make the same.

So my idea is hooks for raml-server with logic for express function.

Now i'm using something like this in one our project. In future i will delivery it to open-source.

[2016-05-17 09:02] lcotonea opened #152 "Missing optional field during generation"
Test case: When a schema contains only one optional field, this field will never exist in generated JSON.
However, if there are two optional fields, then they are sometimes generated (that is good).

Here 2 failed test case:
- http://json-schema-faker.js.org/#gist/959c7af27f541c9dc4cfadf84bc4ddfd -> job is never generated
- http://json-schema-faker.js.org/#gist/5a056af465def2ab639a19c95ff855f2 ->

[2016-05-17 11:07] repocho commented on #145
All !! I do agree all !!

I think we need some kind of organization in the community to share the works to achieve that proposal.

For the moment I've drop the dereferencing functionality from `raml-mocker` because now it can be done in `raml-js-parser`

I think the next step is to drop all the json generation and give `json-schema-faker` this responsibility. But we need to define a kind of roadma

[2016-05-18 16:15] lcotonea opened #153 "Max length is not respected for a lorem.sentence string"
Max length is not taked into account when generating a lorem sentences string

Sample test :
http://json-schema-faker.js.org/#%7B%22type%22%3A%22object%22%2C%22properties%22%3A%7B%22description%22%3A%7B%22type%22%3A%22string%22%2C%22faker%22%3A%22lorem.sentences%22%2C%22minLength%22%3A10%2C%22maxLength%22%3A10%7D%7D%2C%22required%22%3A%5B%22description%22%5D%7D

[2016-05-20 17:41] MarcosMenegazzo opened #154 "Question: is there a way to always fake non required properties?"
Is there a way to always fake non required properties? It will be very good for some tests to always fake optional properties, because there are cases where an optional property, when included, has required properties itself.

[2016-05-20 18:04] pateketrueke commented on #154
I think is related with #81 but I'm not sure, of course all related to configuring `jsf` itself is planned but not ready yet...

[2016-05-21 22:18] julienvincent opened #155 "jsf.option() is not defined"
In the docs, it mentions that one can set options on jsf by doing the following:

[code]

There is however, no method `option` on the exported jsf function that I can see?

[2016-05-23 06:25] ducin commented on #155
Hello @julienvincent, thanks for your feedback.
Could you please state exactly how do you use JSF? Is that bower, npm, cnd.js, git or any other way?

Please open http://json-schema-faker.js.org (demo page) where jsf is exported globally. Open dev tools console and type `jsf.option` as below:
![image](https://cloud.githubusercontent.com/assets/375027/15462012/d8df12ea-20bf-11e6-95d5-4b84f8116327.pn

[2016-05-23 09:35] julienvincent commented on #155
I apologise - I was not using the latest version of jsf. I just updated and everything is working as expected 👍

[2016-05-23 09:35] #155 closed

[2016-05-31 05:31] raitucarp commented on #28
Hi, I come back. Now with node 6, I got this error
[code]
What is the status of this issue?

[2016-05-31 05:33] raitucarp commented on #28
This is the schema that I generated from jsonix. Rename txt extension to json

[AWSECommerceService.txt](https://github.com/json-schema-faker/json-schema-faker/files/290392/AWSECommerceService.txt)

[2016-06-02 00:17] pateketrueke commented on #28
@raitucarp:

I've updated the [previous gist](https://gist.github.com/pateketrueke/152cf7ab2ad61543cd27) with the latest JSON you provided.

Locally, using node 6 I don't see the issue you mention anymore.

Did you tried the provided gist for testing?

Just remember that `jsf` will no download any reference, examine the gist for that.

[2016-06-02 08:16] JonathanMontane opened #157 "jsf throws on object without properties, but using minProperties"
The following schema is valid:

[code]

but throws in jsf due to jsf requiring the schema having either:
- `properties`
- `patternProperties`
- `additionalProperties`

To my knowledge, no such constraint exists in the draft of JSON Schema.

A possible generated value is:

[code]

[2016-06-02 08:45] JonathanMontane opened #158 "JSF drops required properties if not present in the properties field"
[link to jsf demo](http://json-schema-faker.js.org/#%7B%22properties%22%3A%7B%22test%22%3A%7B%22type%22%3A%22string%22%7D%2C%22count%22%3A%7B%22type%22%3A%22integer%22%7D%7D%2C%22additionalProperties%22%3A%7B%22type%22%3A%22string%22%2C%22faker%22%3A%22internet.email%22%7D%2C%22patternProperties%22%3A%7B%22%5Eignored%22%3A%7B%22type%22%3A%22string%22%7D%2C%22prop%24%22%3A%7B%22faker%22%3A%22name.f

[2016-06-02 21:08] sophieyoung717 opened #160 "key should have quotes surrounding it."
The result data I got is:

{ id: 'pid594',
    name: 'Duis mollit fugiat nostrud',
    brand: null,
    category: 'TV',
    price: 2752,
    amount: 49,
    discount: null },

This is not valid

id, name,... should be "id","name"

[2016-06-02 21:19] pateketrueke commented on #160
Seems like you got a plain object, you should use `JSON.stringify()` in order to quote it properly.

[2016-06-02 21:43] sophieyoung717 commented on #160
Thank you!!!

[2016-06-02 21:43] #160 closed

[2016-06-17 14:55] ClayBenson94 opened #163 "Error thrown in certain usage of oneOf / anyOf"
Hello!

First and foremost, thanks for the awesome lib!

The bug I am encountering is using the [following](http://json-schema-faker.js.org/#%7B%22title%22%3A%22Simpleton%22%2C%22description%22%3A%22An%20individual%20person%22%2C%22type%22%3A%22object%22%2C%22properties%22%3A%7B%22maritalStatus%22%3A%7B%22title%22%3A%22Marital%20Status%22%2C%22description%22%3A%22The%20current%20marital%20state%20

[2016-06-17 15:04] ClayBenson94 commented on #163
Update!

I just noticed that using [this](http://json-schema-faker.js.org/#%7B%22title%22%3A%22Simpleton%22%2C%22description%22%3A%22An%20individual%20person%22%2C%22type%22%3A%22object%22%2C%22properties%22%3A%7B%22maritalStatus%22%3A%7B%22title%22%3A%22Marital%20Status%22%2C%22description%22%3A%22The%20current%20marital%20state%20(for%20example%2C%20single%2C%20married%2C%20or%20divorced)%20of%2

[2016-06-17 18:52] ClayBenson94 commented on #163
I noticed I can fix this issue by adding
[code]
on [line 21 of utils.js](https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/core/utils.js#L21). I'm just not 100% sure what effects it might have on other operation. Thoughts?

[2016-06-17 21:26] pateketrueke commented on #163
Interesting... let me investigate, thanks for your feedback!

[2016-06-18 14:38] gausie commented on #44
It would also be good to have something like

[code]

[2016-06-18 14:55] ducin commented on #44
@gausie this would be a killer feature, but it needs quite a lot of development. I've been thinking about it quite much and I'm afraid we'd need to redesign/refactor quite a lot inside JSF. Of course, it's worth it, but we need more people to do that :) interested in contribution?

[2016-06-21 09:12] gausie commented on #44
I would be interested. Once you've worked out how you want to refactor, happy to contribute.

[2016-06-23 15:46] julienvincent opened #164 "Faker and Chance dependencies still included"
As per the readme:

However looking at the package.json, both dependencies are still included. Was this a mistake, or do you intend to keep them as dependencies?

[2016-06-28 18:12] pateketrueke commented on #164
Let me think... I guess we'll keep that dependencies until the next release is ready, I don't see them being required for projects that doesn't need to use faker/chance.

[2016-06-29 10:47] julienvincent commented on #164
I'm not even sure it is necessary to remove them. Projects that do not need faker and chance can just require `json-schema-faker/lib`.

[2016-07-07 02:03] atian25 opened #169 "support custom generators"
so I can extend a custom generators such as `mockjs`, then use `{ type: 'string', mockjs: '@title' }`

now I can only extend a format and use `{ type: 'string', format: 'mockjs', mockRule: '@title' }`

[2016-07-07 02:06] atian25 opened #170 "jsf generating a collection of items instead of one item"
we use `json scheme` to validate server response and mock before backend is done.

when use as mock data,  we want the array mock data return 100+ , but when use as validate,   `minItem` is not required.

that's to say, we want to controll array length without setting minItem in scheme

[2016-07-08 19:35] SgtPooki opened #171 "external.js is using Function.prototype.apply improperly"
If you're submitting a bug, please clearly state what is:

#### the JSON Schema content that fails - preferably using http://json-schema-faker.js.org/ (paste the schema, click `generate` and grab updated browser address bar URL
[code]

#### the result you get
[code]
#### the result you expected
[code]

You can check out a quick test I wrote up here to show what's happening.

[code]
results in
[cod

[2016-07-09 22:05] ducin commented on #170
Hello @atian25, thanks for your issue submission, but please stick to the contribution guidelines:
[code]

[2016-07-09 22:34] ducin commented on #171
Hello @SgtPooki, thanks for your bug submission. Actually, there is no bug :) yet, the usage was tricky and thanks for your deep insight, it took me a while before I solved that.

First of all, your schema seems to be invalid - it works with JSF, but you should define an `object` that has `properties`. And you don't define what it is. Perhaps some tools (like JSF) will carry on, but some might fai

[2016-07-09 22:35] #171 closed

[2016-07-09 23:12] ducin commented on #171
I have added a new test to the suite. Additionally, I extended the docs, so that nobody have doubts about how JSF is working: https://github.com/json-schema-faker/json-schema-faker#user-content-advanced-usage-of-fakerjs-and-chancejs

Thanks @SgtPooki

[2016-07-09 23:21] ducin commented on #153
Thanks for submitting this one, @lcotonea. Actually, this is a tricky one. So far, JSF supports generating either faker/chance-based values (e.g. `"faker": "lorem.sentences"`) or pure-json-schema-based values (e.g. `"minLength": 10, "maxLength": 10`). Of course we can add that cross-type behavior, but we need to think about it first - how is it gonna work in terms of **all generators**, not just `

[2016-07-09 23:23] ducin commented on #158
As #159 is already merged, can we close this #158? @pateketrueke, @JonathanMontane?

[2016-07-09 23:24] ducin commented on #158
Ah, no. It needs to be merged from develop into master. @pateketrueke, we'd do that and release a new patch version, huh?

[2016-07-09 23:25] ducin commented on #157
How about this one - could it be closed after #159 is merged into master, just as in #158? @pateketrueke, @JonathanMontane?

[2016-07-09 23:28] ducin commented on #169
@atian25 I don't understand what you mean, no idea at all. Can you provide a more detailed description? What you want, what you already have and what schemas you expect to produce what results? Without that, we won't help you.

[2016-07-10 16:11] ducin commented on #140
Seems that current version `0.3.4` has been dealing with this issue correctly - both cases return `NaN` which is later caster to `null`. I agree JSF should not validate. Anyway, both cases act the same way which doesn't return a number, which is acceptable (you ask for something stupid and get null - reasonable).

[2016-07-10 16:12] #140 closed

[2016-07-10 16:13] ducin commented on #140
there are 2 new tests that check this behavior (schemas are supposed to be invalid, since NaN is not an "integer" -> failing).

[2016-07-11 14:03] chrisns opened #172 "reuse of definition results in invalid fake generated"
Hello,
Occasionally the faker is producing an invalid fake
Hit generate a bunch of times and sometimes you'll see the `{"centre_to": {}}` but the schema defines it as a string, and exactly the same definition as the "centre" which doesn't appear to have the same issue

[demo](http://json-schema-faker.js.org/#%7B%22definitions%22%3A%7B%22centre%22%3A%7B%22type%22%3A%22string%22%7D%7D%2C%22type%22%3

[2016-07-14 18:18] ducin commented on #170
@atian25 can you reply and provide more info?

[2016-07-15 01:09] atian25 commented on #170
HI, sorry for delay.

It's not bug, just usage feature request.

we use `JSON Scheme` for 2 purpose:
- when starting develop, just `json-schema-faker` to load scheme define to mock response data
- when  the backend is ready (they are java), then we don't need mock, but use scheme as validate rule to backend response.

then trouble is:
- when scene 1,  we usually need to mock more array data, so th

[2016-07-15 01:16] atian25 commented on #169
https://github.com/json-schema-faker/json-schema-faker/blob/master/lib/class/Container.js#L13

`faker` and `chance` is build-in mock lib, I just request to offer an interface to add custom mock lib.

for example, we create a mock lib [`mockjs`](http://mockjs.com/)

then extend `jsf` below:
[code]

usage: `{ type: 'string', format: 'mockjs', mockRule: '@title' }`

each time we need to repeat `forma

[2016-07-15 19:00] mm-gmbd opened #174 "Feature: purposefully generate invalid data based on schema"
I'm building a API regression tester out of a multitude of tools, and this looks like a great tool for generating valid data based on JSON-schema. However, I'd like to test the API implementation against invalid input, and would therefore like to be able to generate various *invalid* JSON datasets based on a valid schema.

Thoughts on this? I'd be happy to help :smile:

[2016-07-15 21:16] ducin commented on #174
Hi @mm-gmbd, I had to read this through few times :) and this is how I understand the situation:
* JSON Schema faker uses schemas to generate valid JSON
* you want to extend `jsf` to generate invalid JSONs based on the same schemas
Am I right?

* first of all, we need contributors very very much. If you are willing to help make `jsf` better, we are more than happy to have you joined the team!
* se

[2016-07-15 23:12] alexandergorskih opened #175 "inline dereferencing not working with schema provided"
I tried to use (http://json-schema-faker.js.org/) but URL does not get updated. So I'm going to paste code here.

According to (http://json-schema.org/latest/json-schema-core.html#anchor30) following schema should be valid.

[code]

Fake data generation not working. How can I reference datapoint from datablock's data property?

[2016-07-15 23:46] ducin commented on #175
hi @gorskih, thanks for your submission. Actually:
* your schema has an invalid comma right after `currently`
* the schema should have the `required` attributes in a different place - at least I don't know if you can place `"required": "true"` inline in each property. Below is your definition executed server-side:
[code]

* but after fixing it, we have an error somewhere in our code anyway :( we g

[2016-07-17 03:37] gorskih opened #176 "Strange behaviour relating faker produced data."
I'm getting strange behaviour relating faker produced data.

Schema:
[code]

URL: http://json-schema-faker.js.org/#%7B%22type%22%3A%22object%22%2C%22id%22%3A%22forecast%22%2C%22properties%22%3A%7B%22latitude%22%3A%7B%22type%22%3A%22number%22%2C%22faker%22%3A%22address.latitude%22%7D%2C%22longitude%22%3A%7B%22type%22%3A%22number%22%2C%22faker%22%3A%22address.longitude%22%7D%2C%22offset%22%3A%7B%22t

[2016-07-17 04:16] pateketrueke commented on #176
Actually what you're seeing as `console.log()`output is only the value, not the type of that value:

[code]

Remember this is Javascript, so not always what you see is what you get, or what you think it is. :beers:

[2016-07-17 05:24] gorskih commented on #176
Sad(

[2016-07-17 05:24] #176 closed

[2016-07-18 12:47] mm-gmbd commented on #174
Hey @ducin, after writing this, I came across [json-schema-test-data-generator](https://github.com/bojand/json-schema-test-data-generator), which seems to already incorporate the "evil twin" functionality, and appears to be based on this library :smile: way to go, open source community!

[2016-07-18 12:52] ducin commented on #174
@mm-gmbd I'll close this one. And by the way, you're welcome to help us make `jsf` better - catch me or Alvaro (@pateketrueke) if you will to :)

[2016-07-18 12:52] #174 closed

[2016-07-25 09:08] repocho commented on #145
Hi guys !!

Any news on that ?? @ducin please, could you lead that and set the new steps ?

We should be prepared also for the new RAML 1.0 schema.,

[2016-07-31 18:47] #89 closed

[2016-07-31 20:12] ducin opened #179 "non-required properties are never rendered"
This [example schema](http://json-schema-faker.js.org/#gist/d51424c56a7923760ba6329167dcaf90) comes from [the official docs](http://json-schema.org/examples.html), so it'd be really cool to support it better than we do now. I expect to have non-required fields generated randomly (50:50 would be good I think). And non-required properties are never included in the result.

[2016-07-31 20:31] ducin opened #180 "extreme future in date-time built-in format"
When executing [built-in `date-time` format](http://json-schema-faker.js.org/#gist/3119df248bee9b570d748b91b8637207), most of the times I get dates that are far far away in the future such as:
- `"5080-09-15T23:40:37.081Z"`,
- `"4150-04-13T09:32:34.409Z"`, etc.

Although it is correct, according to [JSON Schema spec](http://json-schema.org/latest/json-schema-validation.html#anchor108) and [RFC3339

[2016-07-31 20:46] AndreSteenveld opened #181 ""falsey" default values"
When generating data with a falsey default (```false```, ```""```, ```0```, ```null```) the default value is not respected.

I think [develop/lib/core/traverse.js#L29](https://github.com/json-schema-faker/json-schema-faker/blob/develop/lib/core/traverse.js#L29) is the cause of the bug and that it should actually read:

[code]

I will make a pull request with some test cases tomorrow evening.

Exam

[2016-07-31 21:00] ducin commented on #181
Thanks for the issue @AndreSteenveld, you are absolutely right.
Perhaps replacing `schema.default` with `schema.default !== undefined` would do the job. Looking forward to your PR :beers:

[2016-08-01 22:10] ducin commented on #170
@atian25 I think I understand your concern very well.
ad 2 - minItems should not be there, since it's not a part of the schema anyway. So you're right there
ad 1 - can you tell me how are you using `JSON-Schema-Faker`? Is it some kind of a node.js server (meteor, express, whatever) or is it browser based? Anyway, there are 3 solutions I can think of:
* if you're using plain javascript code, instea

[2016-08-02 08:19] ducin commented on #152
Hello @lcotonea, you were perfectly right, there was a bug. I have updated your comment and replaced the URI with permalinks (now we support them in the online demo page).
Since `v0.3.6` (released yesterday) this bug is fixed, please either download new version or try the online demo (hit multiple times ona single item - or wrap the item with an array).

[2016-08-02 08:44] ducin commented on #179
This one will be closed after the `v0.3.6` release.

[2016-08-03 19:30] kafene commented on #106
I'm having the same issue. As @nandanrao noted,

I tried 4, helped, didn't work fully. Tried 10, same thing, less `{}` and more correctly resolved references. I changed it to `seen[id] = 5000;` and suddenly it all works.

[2016-08-03 19:59] AndreSteenveld commented on #181
Sorry for the delay, PR is #183

[2016-08-03 21:12] ducin commented on #181
No worries @AndreSteenveld. Good job! The 3 languages is something we're not aiming at ;) We wanna get rid of javascript, which is a product of TS, but  we need to spend some time to reconfigure the build process. And coffeescript tests are because initially they were written in CS.

It'll be cool if you wish to contribute to `jsf` more! You're more than welcome to do so!

[2016-08-03 21:12] #181 closed

[2016-08-03 21:32] ducin commented on #181
we've got some turbulence on develop (tough merge), so I moved your code directly to master. Will be released with upcoming release :-)

[2016-09-14 20:58] coryhouse opened #188 "Suggestion: Remove TypeScript from logo"
I saw the logo and almost walked away thinking I had to use TypeScript. Turns out, this works awesome and has no TS requirement. Thanks!

[2016-09-14 21:54] ducin commented on #188
@coryhouse the logo background was to celebrate the migration from JS to TS :) it's meand to be removed, now we have additional motivation.

[2016-09-14 22:20] coryhouse commented on #188
Thanks for clarifying. Motivation indeed! :)

Anyway, really enjoying this project 👍

[2016-09-18 09:07] #188 closed

[2016-09-29 15:21] spiffytech opened #193 "Support randexp.max as parameter from schema"
`randexp` supports a property, `max`, which indicates how many repetitions will be generated for patterns like `+`, `*` or the unbounded `{1,}` pattern may have.

Please support reading this parameter from the schema for `string` types, in the same way faker and chance parameters are supported.

Also supporting this parameter for `patternProperties` keys would be great, but I'm not sure how to fit

[2016-09-29 16:47] coryhouse opened #194 "Is there a way to declare static data?"
I'd like to declare an array of static objects as part of my schema. Is there a way to do so?

[2016-09-29 20:48] pateketrueke commented on #194
You can use `enum`:

[code]

I'm not sure if there are more clever/clean solutions, but it's valid. ;)

[2016-09-29 20:55] coryhouse commented on #194
Great, enum is what I used. But since enum really just conveys "pick one of these at random", I did three things to make it always return the same array (though potentially in a different order)

1. Set minItems and maxItems to the same number so the array length is predictable.
2. Set uniqueItems to true so each element is unique.

With this approach, the only thing that isn't static is the order

[2016-09-29 21:01] pateketrueke commented on #193
I think we can use standard keywords from json-schema and then translate them to its related randexp/faker/change options.

Using `{ "type": "string", "pattern": ".+", "maxLength": 20 }` the value `20` should match the `max` setting.

It does make sense?

[2016-09-29 22:48] spiffytech commented on #193
It's unclear to me from the JSON Schema spec, but I _think_ that syntax
would enforce string length even for patterned strings. So that would
introduce incorrect behavior.

For this reason, it's probably best to avoid standard keywords.

On Thu, Sep 29, 2016 at 5:01 PM, Alvaro Cabrera Durán <
notifications@github.com> wrote:

[2016-09-30 01:57] pateketrueke commented on #193
You're right, mixing keywords is not the way...

Instead, adding support for that settings at schema-level (a) or compiler-level (b), or both?

a) can by anything that contains that rule, and also use the `pattern` keyword, e.g.

[code]

b) can by an option within global jsf settings, e.g.

[code]

Of course we can support both styles, where the later will be applied as defaults, and let the forme

[2016-09-30 13:10] spiffytech commented on #193
I like the hash approach: it feels similar to the existing way to parameterize Faker and Chance, and it's clearly extensible if there are ever more parameters worth supporting.

I feel (a) provides all of the value this issue requests. (b) is strictly a convenience feature (since (a) can do everything (b) can), but my own use case doesn't need that convenience.

(b) may be worth supporting just fo

[2016-10-05 08:32] ducin commented on #194
@coryhouse do you find this issue resolved or would you suggest any improvement? If so, please give details.

[2016-10-05 18:12] coryhouse commented on #194
The approach I outlined works, though it feels clunky. Is there a more elegant way to declare static data as a portion of the schema?

[2016-10-05 18:41] pateketrueke commented on #194
In json-schema there's a `default` property which can be useful for this purpose, did you considered it before?

I'm not sure if there's another solution from the json-schema itself, if not would be interesting hear any ideas.

[2016-10-06 17:09] yarax opened #195 "Ignore unknown formats"
Hi, thanks for cool tool
Is it possible to ignore custom format an take value from type only?

[2016-10-06 18:19] powerslave commented on #84
### `oneOf` on properties
[code]
json-schema-faker can result `9` from the schema below.

`9` however is not valid, because it matches both of the `oneOfs`, whereas `oneOf` must only match one (in contrast to `anyOf`)

### `oneOf` wrapping `required`
[code]

schema below can generate
[code]

which is not valid, because it matches both `required`s in `oneOf`, but not more than one must match.

both

[2016-10-07 10:37] #195 closed

[2016-10-11 21:07] hshafy commented on #106
I'm still facing this issue, any ideas?

[2016-10-19 13:27] piotr-s-brainhub opened #198 "required fields are sometimes not rendered"
Node version: 6.3.1
json-schema-faker version: 0.3.6

For the following schema:

[code]

I obtain the following result:

[code]

However in `foo` there are required `id`, `bar` and `baz`.

[2016-10-19 13:48] kylef opened #199 "Limiting array maxItems and string maxLength"
Hi,

I'm looking at `json-schema-faker` (thanks for all your work on the project) but I see some potential performance problems when the schema is supplied from a user. When a user is in control of the schema, they would be able to set extremely high `maxItems` and `maxLength` which would take an extremely long time to generate that many items for.

As an example, I can ask for a maxItems of `2000

[2016-10-19 15:21] pateketrueke commented on #198
`required` fields only works for `object` types, `array` types cannot define any required property, even if its children are objects.

[2016-10-19 15:34] pateketrueke commented on #199
I think we need this...

At this moment we can use `jsf.option()` in order to achieve those kind of setup.

Adding support either for `jsf.option({ maxLength: 100 })` or `jsf.option({ defaults: { maxLength: 100 } })` would be enough.

Please also read the [docs](https://github.com/json-schema-faker/json-schema-faker/tree/master/docs) in order to contribute according our guidelines.

[2016-10-20 06:23] chinclubi commented on #179
As you mention above ... "non-required fields generated randomly"

It's quite hard to test a non-required field.

I suggest you to create a config in option which can enable or disable this randomize.

Ex. If this option is enabled, 50/50 is good. In the other hands, a non-required field will be generated 100%.

Thank you..

[2016-10-26 22:56] oprogramador opened #203 "json-schema-faker-cli"
I was missing a possibility of using this library directly via CLI so I created json-schema-faker-cli module (https://github.com/oprogramador/json-schema-faker-cli). Can I open a PR with updated README with a link to my repo? Or maybe a PR with adding such a possibility to json-schema-faker?

[2016-10-28 07:10] TingYinHelen opened #204 "How to generate some object which has some same value?"
If I want to generate an array which has some objects, and I want to indicate some value, but another value I want to fake it. So how to generate this json. Well, the below is the example that I want to get:

![Uploading Screen Shot 2016-10-28 at 3.02.26 PM.png…]()

I want to indicate the value of category, but fake the value of expense. How do I config?

[2016-10-28 07:11] TingYinHelen commented on #204
<img width="417" alt="screen shot 2016-10-28 at 3 02 26 pm" src="https://cloud.githubusercontent.com/assets/14006826/19797954/bde0106a-9d20-11e6-9648-294c53216807.png">

[2016-10-29 18:31] #199 closed

[2016-10-30 12:33] abnerCrack opened #205 "if Perform too fast the result May be " {}""
index.js

[code]

command:
node index
if Perform too fast  the result  May be  " {}"

[2016-10-30 22:21] pateketrueke commented on #203
Sure, you're welcome to contribute!

[2016-10-30 22:24] pateketrueke commented on #204
You can use `enum`:

[code]

[2016-10-31 03:42] TingYinHelen commented on #204
Well, thanks for you answering. It does work.

[2016-10-31 03:42] #204 closed

[2016-10-31 07:27] abnerCrack commented on #205
@pateketrueke

[2016-10-31 10:56] eXigentCoder opened #206 "Incorrect link on README.MD"
The link under the heading `Faking values` has a link to faker.js site that results in a 404

Should go through to https://github.com/marak/Faker.js/ instead

[2016-10-31 15:57] pateketrueke commented on #205
Yeah, I'm looking into this.

[2016-10-31 21:27] #206 closed

[2016-10-31 21:32] ducin commented on #206
@eXigentCoder thanks for the submission! In fact, many links to faker.js in the web are broken due to @marak removing http://marak.com/faker.js/

[2016-11-01 07:55] ducin opened #210 "provide support for `casual`"
Seems like, apart from `faker` and `chance`, we could be supporting [`casual`](https://github.com/boo1ean/casual) as well.

[2016-11-03 22:08] greenkeeper[bot] opened #211 "An in-range update of typescript is breaking the build 🚨"
## Version **2.0.7** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Ftypescript-2.0.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>

[2016-11-06 14:31] abnerCrack commented on #205
it's bug ?

[2016-11-06 17:55] pateketrueke commented on #205
Your schema have no required properties, due that your generated object may have not any property.

Fixed schema:
[code]

[2016-11-09 18:57] thejmazz opened #212 "Extra (random?) keys on data"
Works [online](http://json-schema-faker.js.org/#gist/a65c0ccf8b7f5f966383c22468b2cbfe), but in Node, I sometimes get extra, seemingly random, keys on `data`, **if not all keys in `properties` are declared in `required` (?)**:

<img width="1000" alt="screen shot 2016-11-09 at 1 41 30 pm" src="https://cloud.githubusercontent.com/assets/1270998/20150236/c73ee850-a682-11e6-9073-dbc66a3422a5.png">

But

[2016-11-09 19:10] pateketrueke commented on #212
Sorry for the inconvenience, you're using the same version `json-schema-faker@0.3.7` in node?

To be honest: we have still bugs on this topics, specifically with objects, references and numbers.

We'll put more effort on fixing several internals to guarantee data consistency, personally I want to work on this issue asap.

[2016-11-09 19:14] thejmazz commented on #212
Yes using `0.3.7`:

[code]

Its no big problem, my current fix is fairly simple:

[code]

[2016-11-11 17:55] #211 closed

[2016-11-11 17:55] #203 closed

[2016-11-11 20:06] greenkeeper[bot] opened #213 "An in-range update of eslint is breaking the build 🚨"
## Version **3.10.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Feslint-3.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=le

[2016-11-11 21:02] jsayol commented on #11
Hey everyone. This could be a really useful feature indeed, has there been any progress? How could I help?

[2016-11-11 22:30] pateketrueke commented on #11
Actually there is no progress on this...

Feel free to start a PoC on this, and we can continue revisiting this issue and give feedback from your progress. 👍

[2016-11-12 14:07] jsayol opened #217 "Type definitions aren't always properly applied"
Demo: http://json-schema-faker.js.org/#gist/9b76b9161b8951d0d555755704de5ac4

I've been seeing the `spec/schema/core/references.json` test failing randomly because of this. Sometimes the type definitions are applied properly and sometimes they're not. I've been trying to find the cause of this issue but I'm stumped.

For the provided demo (lifted directly from the test) the generated data is somet

[2016-11-12 14:16] jsayol commented on #217
I think this is also making the `spec/schema/core/issues/allOf.json` test to fail in some cases.

See the demo for it: http://json-schema-faker.js.org/#gist/56195b74c9937624f001f6384c09c9de

This sometimes generates an output like this:

[code]

[2016-11-12 14:18] jsayol commented on #217
The strangest thing about this all is that sometimes it works, sometimes it doesn't. this is making it really difficult to find the cause :confused:

[2016-11-15 23:10] greenkeeper[bot] opened #218 "An in-range update of typescript is breaking the build 🚨"
## Version **2.0.10** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Ftypescript-2.0.10">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <t

[2016-11-17 08:51] osher opened #219 "Feature request: Allow YAML in the demo input window"
Since YAML is a superset of JSON - replacing the parser engine should be easy.
Anything that works for JSON should work for Yaml, where Yaml is more readble.

This feature gets more important as more and more people write their open-api docs (fka swagger) in Yaml.

I understand the challenges are mostly integrating the parse-error notifications...?
If somebody could ninja this out - it will be sup

[2016-11-17 15:03] ruifortes commented on #154
why is this taking so long?

[2016-11-18 20:50] #218 closed

[2016-11-18 20:50] #213 closed

[2016-11-18 20:55] ducin commented on #219
Hello @osher. Just to make sure... you want the online demo page to accept either JSON or YAML right? If so, then open an issue there: https://github.com/json-schema-faker/website-jsf
Otherwise it means you want to make `jsf` support YAML which, honestly, doesn't make any sense to me. NPM packages are composable, hence you can use e.g. [`yaml-to-json`](https://www.npmjs.com/package/yaml-to-json) l

[2016-11-20 00:33] greenkeeper[bot] opened #221 "An in-range update of tslint is breaking the build 🚨"
## Version **4.0.1** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Ftslint-4.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=le

[2016-11-20 14:40] #221 closed

[2016-11-21 08:08] greenkeeper[bot] opened #222 "An in-range update of z-schema is breaking the build 🚨"
## Version **3.18.1** of [z-schema](https://github.com/zaggino/z-schema) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Fz-schema-3.18.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      z-schema
    </td>
  </tr>
  <tr>
    <th

[2016-11-22 22:37] greenkeeper[bot] opened #223 "An in-range update of clone is breaking the build 🚨"
## Version **2.1.0** of [clone](https://github.com/pvorb/node-clone) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Fclone-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      clone
    </td>
  </tr>
  <tr>
    <th align=left

[2016-11-22 23:52] boxman0617 commented on #223
Is there someone looking into this?

[2016-11-25 04:56] pateketrueke commented on #223
o/

[2016-11-25 05:09] #223 closed

[2016-11-25 05:11] pateketrueke commented on #131
Proudly closed! 🍻

[2016-11-25 05:11] #131 closed

[2016-11-25 05:18] pateketrueke commented on #106
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 05:18] #106 closed

[2016-11-25 05:19] pateketrueke commented on #98
Solved! :D

[2016-11-25 05:19] #98 closed

[2016-11-25 05:21] pateketrueke commented on #96
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 05:21] #96 closed

[2016-11-25 05:23] pateketrueke commented on #175
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 05:23] #175 closed

[2016-11-25 05:28] pateketrueke commented on #152
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 05:28] #152 closed

[2016-11-25 05:31] pateketrueke commented on #139
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 05:31] #139 closed

[2016-11-25 05:55] pateketrueke commented on #179
Enabling this feature is tightly related with #111 and shall be awesome!

I'm sure we can focus on this kind of issues since the library is stable now. (:

[2016-11-25 05:55] #179 closed

[2016-11-25 06:00] pateketrueke commented on #212
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 06:00] #212 closed

[2016-11-25 06:05] pateketrueke commented on #205
I was absolutely wrong, even having only optional properties it doesn't mean you'll got none of them!

Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 06:05] #205 closed

[2016-11-25 06:06] abnerCrack commented on #205
@pateketrueke  thanks

[2016-11-25 06:10] pateketrueke commented on #205
Note there is no guarantee of faking all optional properties all the time yet, see: #154

[2016-11-25 06:38] pateketrueke commented on #193
Yes, the default (b) now is 10, which is a pretty basic limit.

I've discarded (a) for two main reasons:

- You are encouraged to understand JSON-Schema properly in order to exploit its capabilities
- JSF also is encouraged to understand JSON-Schema properly in order to exploit its capabilities

Adding an extra keyword just for setting up this max option is wrong.

The _JSON-Schema way_ shall be u

[2016-11-25 06:50] pateketrueke commented on #198
I think you wanted something like this:

[code]

Link: http://json-schema-faker.js.org/#gist/663d67ad0039e97725e4d75116a630fa

[2016-11-25 06:50] #198 closed

[2016-11-25 06:52] pateketrueke commented on #217
No longer an issue! :D

Our test-suite is now passing (on `develop`), all the time.

[2016-11-25 06:52] #217 closed

[2016-11-25 07:07] pateketrueke commented on #154
Solved! ;-)

[2016-11-25 07:07] #154 closed

[2016-11-25 07:26] pateketrueke commented on #193
Update: now it's possible to define the `max` through options:

[code]

🎉

[2016-11-25 07:26] #193 closed

[2016-11-25 07:45] pateketrueke commented on #210
Why not?! :D

[2016-11-25 07:45] #210 closed

[2016-11-25 07:52] pateketrueke commented on #172
Sorry for the inconveniences, this issue is now solved on `develop`.

I'm closing this in order to release soon! :beers:

[2016-11-25 07:52] #172 closed

[2016-11-25 08:28] pateketrueke commented on #170
@ducin you're absolutely right on `ad 2` buddy.

On `ad 1`, lets say the schema is:

[code]

@atian25

1) I understand you are paginating something, so you need a mocked list with items
2) On your backend you are reusing the schema (which is very cool) to validate your response, but...

you cannot ensure to always having items (declared by `minItems`) on the back-end, but for mock/test'ing purpose

[2016-11-25 08:28] #170 closed

[2016-11-25 09:02] pateketrueke commented on #163
Fixed, releasing soon! 🍻

[2016-11-25 09:02] #163 closed

[2016-11-25 09:09] pateketrueke commented on #158
Seems like this issue is gone, at least on the `develop` branch. 🎉

[2016-11-25 09:09] #158 closed

[2016-11-25 09:10] pateketrueke commented on #157
Proudly fixed! :tada:

[2016-11-25 09:10] #157 closed

[2016-11-25 09:16] pateketrueke commented on #142
This issue is also gone! >:D

[2016-11-25 09:16] #142 closed

[2016-11-25 09:20] pateketrueke commented on #81
@bitdivine

Yes, finally landed to `develop` branch. :tada:

By default `requiredOnly` is always `false`, so optional properties are being generated as well.

[2016-11-25 09:20] #81 closed

[2016-11-25 09:33] pateketrueke commented on #169
@ducin

I like the idea of extending generators.

In fact that way we can get rid of `faker`, `chance` and now `casual`. 🤔

On that case we need a more general solution just because faker use namespaced functions, casual use getters/functions, etc.

[2016-11-25 09:37] pateketrueke commented on #111
Guys, the `develop` branch is now stable.

So, it is possible to provide a seed for achieve the same results all the time? 🤔

[2016-11-25 09:40] pateketrueke commented on #134
@charypar I'm still interested on this topic, do you want to discuss about it? 🤔

[2016-11-25 09:49] pateketrueke commented on #145
Guys,

- I've recently updated `raml-mockup` for RAML 1.0 support
- I've recently stabilized `json-schema-faker` and now we can go beyond

[2016-11-25 11:10] JonathanMontane opened #224 "All other constraints are ignored if enum is present"
If the `enum` field is present, jsf will use any value from the enum, even if they don't respect the other constraints:

Example Error:
http://json-schema-faker.js.org/#gist/7547e5e627b35325b4a94ca73cea909e

Example of failing schema:
[code]

What is expected:
[code]

What is generated:
[code]

How to probably fix it:
the check for enum is probably done way before the other constraints check, it s

[2016-11-25 11:24] JonathanMontane commented on #224
It's unrelated, but I wanted to thank you for the amazing effort you did with respect to how `patternProperties`, `additionalProperties`, `required` and `min/maxProperties` should behave together.

[2016-11-25 20:11] pateketrueke commented on #224
Why would you like to enumerate a value out of the range? 🤔

[2016-11-25 20:14] pateketrueke commented on #219
I think that adding this feature on the website would be easy and highly appreciated.

Also agree with @ducin, that is beyond `jsf` responsibility.

[2016-11-25 20:24] #219 closed

[2016-11-25 22:26] greenkeeper[bot] opened #225 "An in-range update of eslint is breaking the build 🚨"
## Version **3.11.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/json-schema-faker/json-schema-faker/compare/greenkeeper%2Feslint-3.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=le

[2016-11-26 16:57] charypar commented on #134
I will have to refresh my memory, it's been a while, but yes, I'd still like to look at it.

[2016-11-27 18:16] randavidovitz opened #226 "Add ability to generate full content (minimum of 1 item)"
When people ask me for a mock the usually want to see a full faked object that include at least 1 item in every list and all properties (not only required)

Today we support overriding the default max Items(if provided) , I think we should also add option to explicitly set the minimum number of items in list
And potentially also an option to adjust all items to be required

Above will ensure we ge

[2016-11-28 09:28] JonathanMontane commented on #224
@pateketrueke, I suppose the argument here is "never trust user input". This also happens when we try to combine schemas to emulate OneOf, as it is not correctly supported at the moment. So, although the schemas we generated were correct per the JSON Schema spec, the generated object were not valid when there was an enum.

For instance,

[code]

can be translated into either:

[code]

or

[code]

[2016-11-28 09:41] JonathanMontane commented on #226
@randavidovitz How would you handle this case?

[code]

In this case, if you enforce this, you would have a `User` with at least one `friend`, who is a `User`, who has a `friend`, who is a `User` who has a `friend`, who is ...

[2016-11-28 18:14] pateketrueke commented on #226
Ideally that given schema would produce something like this:

[code]

Tested against `develop` and seems pretty fine there... 🤔

@randavidovitz cant to make your tests against the `develop` branch?

Based on the experience from other issues it would be very helpful to provide some defaults to `jsf`, even if the user provided constraints to some values, e.g.

- min/maxItems
- min/maxProperties
- mi

[2016-11-28 18:33] pateketrueke commented on #224
All my knowledge about json-schema rules comes from validating them first.

Using the service: http://www.jsonschemavalidator.net/

Your first schema is invalid for the value `100`:

[code]

Is interesting because `oneOf` should validate values only for one sub-schema defined, and no more.

Switching from `oneOf` to `allOf` effectively works as expected.

Which value should be generated in order t

[2016-11-29 13:54] JonathanMontane commented on #224
@pateketrueke yes, that process should work! (And it should actually work regardless of the complexity of the object)

[2016-12-02 09:45] meucaa commented on #106
Bug still there in v0.4.0, is it normal ?

[2016-12-02 10:06] meucaa opened #227 "Required keyword not working as expected"
I'm having an issue with the `required` keyword which seems to be ignored.

Here is my schema : http://json-schema-faker.js.org/#gist/938f2c4b9edb8646c3201537f230ac12

The `required` keyword applies perfectly on the website but when I'm using it in my node application as shown in the file attached [faker.js.tar.gz](https://github.com/json-schema-faker/json-schema-faker/files/626830/faker.js.tar.gz

[2016-12-02 12:47] meucaa commented on #227
I solved the problem by not re-using the same reference twice (see below) :
[code]
This way, the `required` keyword seems to be well-interpreted.
This problem should be corrected though because it totally make references useless since you cannot re-use them.

[2016-12-05 15:15] osher commented on #219
yes, guys, you got me right.
I'll move it to website-jsf
thanks :)

[2016-12-05 15:16] osher commented on #219
ah. it's already there... 😛  thanks 😸

[2016-12-21 19:34] convenient opened #229 "Faked emails should use @example.com"
Saw this pop up on reddit.com/r/programming, had a quick glance at it and the source code and saw the following.

It looks like this can generate "fake" data which could actually point to real email addresses owned by real people. This is corroborated in the sample here: http://json-schema-faker.js.org/#gist/89659ebf28be89d3f860c3f80cbffe4b

Where a few runs of the program give me output like
- "M

[2016-12-21 19:57] pateketrueke commented on #229
At this moment, `jsf` is only responsible for generating simple values like:

[code]

The usage of `faker` (or `chance`, whatever) keyword is out of our responsibility, I think you can address this issue directly on the https://github.com/marak/Faker.js/ repository.

If you're interested please check the same issue with the other data-generators.

Thanks for your feedback! 👍

[2016-12-27 19:01] tkellen opened #230 "faker.helpers.shuffle blows the heap when an empty array is supplied"
On node `v6.9.2`, using faker `v0.3.1` (the latest published to npm) you can reproduce this with:

[code]

Is there a reason the latest version of faker (where this seems to be resolved) hasn't been published?

[2016-12-27 19:11] tkellen commented on #230
Whoops, wrong repo, ignore me :p

[2016-12-27 19:11] #230 closed

[2017-01-03 12:07] osher opened #231 "oapi gap between spec and the faker"
Bug (i think)

### 1. the JSON Schema content that fails
[code]

### 2. the result you get
Thrown error
[code]

### 3. the result you expected
As specified here:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

[2017-01-03 15:45] pateketrueke commented on #231
I'm reading the link you shared and seems like you're confusing the terms.

It's true that "dateTime" is a "common name" but the table is telling you which `type ` an `format` to use on JSON-Schema to produce that value.

[code]

[2017-01-03 16:51] osher commented on #231
roger. Thanks!

[2017-01-03 16:51] #231 closed

[2017-01-10 22:23] cmcnamara87 opened #232 "Required arrays properties are being pruned if empty"
JSON Schema: http://json-schema-faker.js.org/#gist/522be50fb0c576a8b033728cbf0ba089

Result:
[code]

Expected Results:
[code]

I'd like to be able to say, this array (myArray) property will always exist, it might be empty, it might have some number of values. I have set the array property as "required" which should keep it there, regardless of it being empty or not.

However, the pruning (I think

[2017-01-11 15:19] pateketrueke commented on #232
I think we can enable a setting for keeping empty arrays as is.

Of course we need to explore the implications, what do you think?

[2017-01-12 21:27] ericsvendsen opened #233 "What happened to a Faker date as ISOString?"
Starting with v0.3.6, output from faker date methods is a Javascript date string, rather than an ISO string.  Why did this change?  Is it possible to get a faker date as an ISO string?

[Go here](http://json-schema-faker.js.org/#gist/1362757db7d216772c4b5ce4335799cf), and then change the version dropdown. 0.3.4 gives an ISO string, 0.3.5 gives an ISO string with extra escaped quotes, and 0.3.6 giv

[2017-01-13 15:41] omargon opened #234 "Reserved keywords as part of schema"
Is there a way to declare a schema that includes the keyword `type` as  one of the key values of properties?

While defining a schema based on the following format:

[code]
I get the following error message

```Error: unknown primitive "card" in /properties/token/properties/type```

[2017-01-17 23:21] cmcnamara87 commented on #232
A setting would be good, but in addition, I think if a property is set as required it should never be pruned.

[2017-01-19 03:41] woodenconsulting commented on #232
+1

[2017-01-19 08:19] naivefun opened #236 "error handling"
How can I handle errors?
For example the faker generator is not found I wanna return the default value not throwing exception. Is it possible? Thanks.

[2017-01-22 06:55] foreseaz commented on #180
Totally agree with @ducin , besides, adding built-in `current-date-time` should be handy for testing.

[2017-01-24 17:40] morganney commented on #63
Here is an example of generating descending sequential dates using the [grunt-jsonschema-faker `extend` option](https://www.npmjs.com/package/grunt-jsonschema-faker#extend). The file is not JSON because I'm using it to dynamically generate the JSON schema file and the grunt task target configuration but it should be clear how you can put together a complete grunt task target from this to generate